* {
	--color-primary: 64, 64, 64;
	--color-background: 46, 46, 46;
	--color-background-lightest: 21, 21, 21;
	--color-background-light: 74, 74, 74;
	--color-background-darkest: 21, 21, 21;
	--color-background-button: 68, 68, 68;
	--color-background-chat-message: 51, 51, 51;
	--color-background-chat-message-whisper: 28, 43, 44;
	--color-background-chat-message-blind: 42, 65, 63;
	--color-border: 74, 74, 74;
	--color-border-lighter: 125, 125, 125;
	--color-folder-header: 74, 74, 74;
	--color-folder-directory: 21, 21, 21;
	--color-folder-subdirectory: 125, 125, 125;
	--color-text: 186, 186, 186;
	--color-text-lightest: 224, 224, 224;
	--color-text-darker: 203, 203, 203;
	--emu-border-radius-default: 0px;
	--emu-border-radius-controls: 0px;
	--emu-border-radius-forms: 0px;
	--emu-border-radius-images: 0px;
	--emu-font-size-md: 0.875rem;
	--emu-font-size-lg: 1rem;
	--emu-font-size-xl: 1.25rem;
	--emu-font-size-xxl: 1.5rem;
	--emu-font-size-sm: 0.75rem;
	--emu-font-size-xs: 0.625rem;
	--emu-font-size-chat-roll: 1.125rem;
	--emu-image-background: none;
	--emu-image-background-lightest: none;
	--emu-image-background-light: none;
	--emu-image-background-darkest: none;
	--emu-image-background-controls: none;
	--emu-background-opacity-button-primary: 1;
	--emu-background-opacity-hotbar: 0.8;
	--emu-background-opacity-hud: 0.8;
	--emu-background-opacity-players: 0.8;
	--emu-background-opacity-scene-control: 0.8;
	--emu-background-opacity-scene-navigation: 0.8;
	--emu-background-opacity-sidebar: 0.8;
	--emu-background-opacity-window: 1;
	--emu-background-opacity-window-content: 1;
	--emu-subtle-opacity: 0.3;

	--color-shadow-primary: var(--blades-white-bright);
	--color-text-dark-primary: var(--blades-white);
	--color-bg-option: var(--blades-black);

	--blades-white: rgb(200, 200, 200);
	--blades-white-bright: rgb(255, 255, 255);
	--blades-black: #101010;
	--blades-black-dark: #000;
	--blades-grey: #777;
	--blades-grey-dark: #444;
	--blades-coin-gold: rgb(171, 146, 84);
	--blades-coin-gold-bright: rgb(253, 212, 112);

	font-family: "Minion Pro Caption Cond";

	.eunos-blades {
		&.sheet {
			@import './emu-overrides/sheets';

			&.actor {
				&.pc { @import './emu-overrides/actor-sheet' }
				&.crew { @import './emu-overrides/crew-sheet' }
			}
		}
	}
}