:root {
	* {
		@import './emu-overrides/vars';
		@import './emu-overrides/globals';
	}

	body,
	body.vtt.game,
	body.vtt.game.system-eunos-blades,
	body.vtt.game.system-eunos-blades.-emu {

		#euno-clock-keeper-overlay {
			@import './emu-overrides/euno-clocks-overlay';
		}

		#controls,
		#navigation,
		#hotbar,
		#players {
			opacity: 0.3;
			transition: 0.25s;
			&:hover { opacity: 1 }
		}

		.app.window-app {
			font-family: "Minion Pro Caption Cond";

			&.sheet {
				@import './emu-overrides/sheets';
			}

			&.eunos-blades {
				&.actor {
					&.pc {
						@import './emu-overrides/pc-sheet';
					}
					&.npc {
						@import './emu-overrides/npc-sheet';
					}

					&.crew {
						@import './emu-overrides/crew-sheet';
					}
				}

				&.item {
					&.clock-keeper {
						@import './emu-overrides/clock-keeper-sheet';
					}
					&.crew_type {
						@import './emu-overrides/crew-type-sheet';
					}
				}
			}
		}
	}
}
