

$bg-yiq: 0.5;
$hover-yiq: $bg-yiq * 1.33;

@mixin tag_colors() {

  &[data-group="System Tags"] {
    --tag-bg: #{getYIQScaledColor(darkgrey, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(darkgrey, $hover-yiq)};
  }
  &[data-group="Gear Tags"] {
    --tag-bg: #{getYIQScaledColor(darkgreen, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(darkgreen, $hover-yiq)};
  }
  &[data-group="Actor Tags"] {
    --tag-bg: #{getYIQScaledColor(brown, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(brown, $hover-yiq)};
  }
  &[data-group="Playbooks"] {
    --tag-bg: #{getYIQScaledColor(blue, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(blue, $hover-yiq)};
  }
  &[data-group="Districts"] {
    --tag-bg: #{getYIQScaledColor(tan, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(tan, $hover-yiq)};
  }
  &[data-group="Vices"] {
    --tag-bg: #{getYIQScaledColor(crimson, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(crimson, $hover-yiq)};
  }
  &[data-group="Factions"] {
    --tag-bg: #{getYIQScaledColor(purple, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(purple, $hover-yiq)};
  }
  &[data-group="Inventions"] {
    --tag-bg: #{getYIQScaledColor(magenta, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(magenta, $hover-yiq)};
  }
  &[data-group="Gang Types"] {
    --tag-bg: #{getYIQScaledColor(red, $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(red, $hover-yiq)};
  }

}

.tags-gm {
  position: absolute;
  z-index: 20;
  top: -40px;
}

.comp-tags {
  background-color: rgba(0,0,0,0.5);

  caret-color: transparent;
  pointer-events: auto;
  // margin-top: 10px;

  --placeholder-color: transparent;
  --placeholder-color-focus: transparent;
  --tags-border-color: #343434;
  --tag-pad: 0; // 0.1rem 0.3rem;
  align-items: center;
  height: 18px;
  gap: 0.1rem;

  min-width: 100%;
  flex-wrap: nowrap;
  border-style: inset;
  border: none;

  .tagify__tag {
    font-family: "Fjalla One";
    padding: 0;
    margin: 1px 0;
    height: calc(100% - 2 * 1px);
    border-radius: 5px;

    > div {
      height: 100%;

      > span {
        padding-left: 4px;
        line-height: 16px;
        font-size: 12px;
        white-space: nowrap;
        // font-variant: small-caps;
        // font-family: "Oswald";
      }

      &::before {
        // inset: 1.5px;
        // line-height: 14px;
        height: 16px;
        top: 0;
        left: 0;
      }
    }

    @include tag-colors();

  }



  .tagify__input {
    flex-grow: 0.2;
    padding: 0.1rem;
    display: flex;
    justify-items: center;
    align-content: center;
  }
}

.tagify__dropdown {
  --tagify-dd-color-primary: #363636;
  --tagify-dd-bg-color: #242424;
  min-width: 500px;

  .tagify__dropdown__wrapper {
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    h3 {
      padding: 0 0.3em;
      margin: 0;
      color: white;
      font-family: "Fjalla One";
      text-transform: uppercase;
      font-size: 10px;
    }

    .tagify__dropdown__itemsGroup {
      padding: 0.15em;
      &:hover {
        background: #373737;
      }

      .tagify__dropdown__item {
        display: inline-block;
        font-family: "Fjalla One";
        margin: 0px 0 3px 3px;
        color: var(--blades-black);
        padding: 0.1rem 0.25rem;
        border-radius: 5px;
        pointer-events: auto;

        background-color: var(--tag-bg);
        &:hover {
          background-color: var(--tag-hover);
        }

        @include tag-colors();
      }
    }
  }
}
