@import './core/normalize.scss';

// Utility imports
@import './core/functions';
@import './core/mixins';
@import './fonts.scss';



:root,
* {
  scrollbar-color: var(--blades-white) var(--blades-black);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: var(--blades-spacer-sm);
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 1px rgba(var(--color-background-darkest), 0.5);
  border: none;
  border-radius: 0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-background-light), 1);
  border: none;
  border-radius: 0;
  outline: none;
}

:root {

  &,
  * {
    @import './core/vars';
    @import './core/components';
  }

  body.vtt.game.system-eunos-blades {

    .notification.error.permanent {
      display: none !important;
    }

    #eunos-blades-tooltips {
      @import "./core/globals";
      display: block;
      pointer-events: none;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      z-index: 150;
    }

    #pause {
      img.fa-spin {
        top: unset;
        bottom: -200px;
      }

      figcaption {
        text-shadow: 1px 1px 3px #000, 1px 1px 3px #000, 1px 1px 3px #000, 0px 0px 5px #000;
        font-family: var(--font-emphasis), serif !important;
        line-height: 2rem;
        padding: 0 25%;
      }
    }

    #blades-overlay {
      @import "./core/reset";
      @import "./core/globals";
      @import './overlay/blades-overlay';
    }

    #clocks-overlay {
      margin-top: toRem(4px);
      @import "./core/reset";
      @import "./core/globals";
      @import './components/clocks-overlay';
    }

    #sidebar {
      border: none;
      background: transparent;
      top: 0px;
      bottom: 0px;
      height: 100%;

      #sidebar-tabs { background: var(--blades-black-dark); }

      @import "./components/push-notifications";
    }

    #interface,
    #controls,
    #navigation,
    #hotbar,
    #players {
      @import "./core/reset";

      &,
      * {
        --font-primary: "Fjalla One";
        --font-heading: "Fjalla One";
        --font-weight-heading: normal;
        --text-shadow-heading: none;
        --line-height-heading: 1.2;
      }

      .control-tools .scene-control:hover {
        height: calc(var(--blades-spacer-button-lg) - 2px);
        width: calc(var(--blades-spacer-button-lg) - 2px);
      }

      #chat {
        // background: rgba(255, 180, 0, 0.25) !important;

        @import "./core/reset";
        @import './core/globals';

        #chat-form { display: none }
        #chat-controls {
          opacity: 0 !important;
          transition: 0.5s;

          &:hover {
            opacity: 1 !important;
          }
        }
        &,
        * {
          --font-heading: var(--font-emphasis);
          --font-weight-heading: normal;
          --text-shadow-heading: none;
          --line-height-heading: 1.2;
        }

        @import './chat/chat';
      }

    }

    #interface {
      @import "./components/lightning-border-overlay";
    }

    #controls,
    #navigation,
    #hotbar,
    #players {
      opacity: 0.5;
      transition: 0.25s;

      &:hover {
        opacity: 1
      }
    }

    .app.window-app {
      @import "./core/reset";
      @import './core/globals';

      // General App Window Styles
      @import "./core/app";
      @import "./components/accordian-block";

      // Third-Party Library Inputs
      // > TAGIFY
      @import './lib/tagify';

      // > TAGIFY CUSTOM CONFIG
      @import './tagify-custom';

      @import './components/clocks';



      .editor:not(.tinymce) {
        position: relative;
        overflow-x: hidden;
        width: 100%;
        min-height: var(--min-tinymce-height);

        &.prosemirror, &.prosemirror * {
          --color-control-bg: var(--blades-black-dark);
          --color-hover-bg: var(--blades-black);
          color: var(--blades-white-bright);

          .menu button {
            background: var(--blades-black);

            &:hover, &.active {
              background: var(--blades-black-dark);
            }
          }

          .menu button:hover, .menu button:active {
            background: var(--blades-black-dark);
          }
        }

        .editor-edit {
          display: block;
          opacity: 0.25;
          pointer-events: auto;
          z-index: zLevel(+1);

          &:hover {
            opacity: 1
          }
        }

        .editor-content {
          position: relative;
          // width: calc(100% + (2 * var(--content-padding)));
          // left: calc(-1 * var(--content-padding));
          padding-left: var(--content-padding);
          padding-right: var(--content-padding);
          @import './tinymce/tinymce-content';
        }
      }

      .tab-label + .editor:not(.tinymce) { margin-top: -0.3125rem !important }

      .editor.tinymce {
        position: relative;
        max-width: unset;
        // width: calc(100% + (2 * var(--content-padding)));
        width: 100%;
        // height: 100%;
        min-height: 100px;

        .editor-content {
          @import './tinymce/tinymce-content';
        }
      }

      &.sheet {

        @import './sheets/sheets';

        &.actor {
          &.pc {
            @import './sheets/pc-sheet';
          }

          &.npc {
            @import './sheets/npc-sheet'
          }

          &.crew {
            @import './sheets/crew-sheet';
          }

          &.faction {
            @import './sheets/faction-sheet';
          }
        }

        &.item {
          @import './sheets/item-sheets';

          &.clock-keeper {
            @import './sheets/clock-keeper-sheet'
          }

          &.gm-tracker {
            @import './sheets/gm-tracker-sheet'
          }

          &.score-sheet {
            @import './sheets/score-sheet';
          }

          .window-content form {
            &.crew_playbook {
              @import './sheets/crew-playbook-sheet'
            }
            &.gear {
              @import './sheets/gear-sheet'
            }
            &.cohort_gang, &.cohort_expert {
              @import './sheets/cohort-sheet'
            }

            &.project {
              @import './sheets/project-sheet'
            }
          }

        }

        &.dialog {
          @import './dialog/dialogs'
        }

        &.active-effect-sheet {
          @import './sheets/active-effect-config'
        }

        &.roll-collab {
          @import './sheets/roll-collab-sheet'
        }
      }
    }
  }
}


.tox .tox-dialog-wrap .tox-dialog .tox-textarea-wrap {
  height: 100%;

  .tox-textarea {
    height: 100%;
    font-family: var(--font-mono);
    font-size: toRem(12px);
    line-height: toRem(14px);
  }
}

@import "./emu-styles.scss";