@import './core/normalize.scss';

// Colors
$lightgray: #bbb;
$darkgray: #666;
$gray: #999;
$red: red;
$almost_black: #191813;
// var(--blades-white): #EEEFFF;
$gold: #DAA520;
// var(--blades-white-bright): #008000;
$light_green: #12a012;
// var(--blades-grey-bright): #04578f;

// Utility imports
@import './core/mixins';
@import './fonts.scss';

:root {

	* {
		@import './core/vars';
		@import './core/globals';
	}

 body.vtt.game.system-eunos-blades {

		#euno-clock-keeper-overlay {
			@import "./core/reset";
			@import './components/clocks-overlay';
		}

		#controls,
		#navigation,
		#hotbar,
		#players {
			@import "./core/reset";
			opacity: 0.3;
			transition: 0.25s;

			&:hover { opacity: 1 }
		}

		#chat {
			@import "./core/reset";
			@import './chat/chat';
		}

		.app.window-app {
			@import "./core/reset";
			@import './core/text-styles';

			.editor:not(.tinymce) .editor-content {
				@import './tinymce/tinymce-content';
			}

			&.sheet,
			&.eunos-blades,
			&.sheet.eunos-blades {

				@import 'import/general-styles';
				@import './sheets/sheets';

				&.actor {
					&.pc {
						@import 'import/character-sheet';
						@import './sheets/pc-sheet';
					}

					&.npc { @import './sheets/npc-sheet' }

					&.crew {
						@import 'import/crew-sheet';
						@import './sheets/crew-sheet';
					}
				}

				&.item {
					@import 'import/item-sheet';

					&.clock-keeper { @import './sheets/clock-keeper-sheet' }
					&.crew_type { @import './sheets/crew-type-sheet' }
				}

				&.dialog { @import './dialog/dialogs' }
			}
		}
	}
}

@import "./emu-styles.scss";
