@import './core/normalize.scss';

// Utility imports
@import './core/functions';
@import './core/mixins';
@import './fonts.scss';



:root,
* {
	scrollbar-color: var(--blades-white) var(--blades-black);
	scrollbar-width: thin;
}

*::-webkit-scrollbar {
	width: var(--blades-spacer-sm);
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0 1px rgba(var(--color-background-darkest), 0.5);
	border: none;
	border-radius: 0;
}

*::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-background-light), 1);
	border: none;
	border-radius: 0;
	outline: none;
}

:root {

	&,
	* {
		@import './core/vars';
		@import './core/components';
	}

	body.vtt.game.system-eunos-blades {

		#clocks-overlay {
			margin-top: toRem(4px);
			@import "./core/reset";
			@import './components/clocks-overlay';
		}

		#interface,
		#controls,
		#navigation,
		#hotbar,
		#players {
			@import "./core/reset";

			&,
			* {
				--font-primary: "Fjalla One";
				--font-heading: "Fjalla One";
				--font-weight-heading: normal;
				--text-shadow-heading: none;
				--line-height-heading: 1.2;
			}

			.control-tools .scene-control:hover {
				height: calc(var(--blades-spacer-button-lg) - 2px);
				width: calc(var(--blades-spacer-button-lg) - 2px);
			}

			#chat {
				@import "./core/reset";

				&,
				* {
					--font-primary: "Minion Pro";
					--font-heading: "Kirsty";
					--font-weight-heading: normal;
					--text-shadow-heading: none;
					--line-height-heading: 1.2;
				}

				@import './chat/chat';
			}

		}

		#controls,
		#navigation,
		#hotbar,
		#players {
			opacity: 0.5;
			transition: 0.25s;

			&:hover {
				opacity: 1
			}
		}

		.app.window-app {
			@import "./core/reset";
			@import './core/globals';

			// General App Window Styles
			@import "./core/app";

			// Third-Party Library Inputs
			// > TAGIFY
			@import './lib/tagify';

			// > TAGIFY CUSTOM CONFIG
			@import './tagify-custom';

			.editor:not(.tinymce) {
				position: relative;
				overflow-x: hidden;
				width: 100%;

				.editor-edit {
					display: block;
					opacity: 0.25;
					pointer-events: auto;
					z-index: zLevel(+1);

					&:hover {
						opacity: 1
					}
				}

				.editor-content {
					position: relative;
					width: calc(100% + (2 * var(--content-padding)));
					left: calc(-1 * var(--content-padding));
					padding-left: var(--content-padding);
					padding-right: var(--content-padding);
					@import './tinymce/tinymce-content';
				}
			}

			.editor.tinymce {
				position: relative;
				max-width: unset;
				width: calc(100% + (2 * var(--content-padding)));
				// left: calc(-1 * var(--content-padding));
			}

			&.sheet {

				@import './sheets/sheets';

				&.actor {
					&.pc {
						@import './sheets/pc-sheet';
					}

					&.npc {
						@import './sheets/npc-sheet'
					}

					&.crew {
						@import './sheets/crew-sheet';
					}
				}

				&.item {
					@import './sheets/item-sheets';

					&.clock-keeper {
						@import './sheets/clock-keeper-sheet'
					}

					&.crew_playbook {
						@import './sheets/crew-type-sheet'
					}
				}

				&.dialog {
					@import './dialog/dialogs'
				}
			}
		}
	}
}

@import "./emu-styles.scss";