* { transform-origin: 50% 50% }

.segmented {
	--rotation-step-size: calc(360deg / var(--rotation-steps));
	--segment-scale: 1;
}
clipPath.segmented { --segment-scale: 2 }

@each $clockSize in (1, 2, 3, 4, 5, 6, 8, 10, 12) {
	.segmented[data-size="#{$clockSize}"] { --rotation-steps: #{$clockSize} }
}

.segmented > use {
	transform: scale(var(--segment-scale)) rotate(var(--segment-rotation));

	@for $i from 1 through 12 {
		.segmented > use:nth-child(#{$i}) { --segment-rotation: calc(#{$i - 1} * var(--rotation-step-size)) }
	}
}