.chat-message {
  --bg-controlled: var(--blades-grey-bright);
  --bg-risky: var(--blades-black-dark);
  --bg-desperate: var(--blades-red-darkest);
}

.chat-message:last-child {
  --bg-controlled: url("../assets/animations/chat/roll-position-controlled.webp");
  --bg-risky: url("../assets/animations/chat/roll-position-risky.webp");
  --bg-desperate: url("../assets/animations/chat/roll-position-desperate.webp");
}


.chat-message {
  background: var(--blades-black-dark);
  overflow: hidden;
  position: relative;


  .message-header {
    position: relative;
    z-index: 1;

    .message-sender {
      color: var(--blades-grey);
    }
  }

  .message-content {

    .chat-message-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;

      &.roll-position-risky {
        background: var(--bg-risky);
        background-size: cover;
      }
    }

    .blades-roll {
      position: relative;
      z-index: 2;

      .chat-header {
        margin: 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
        color: var(--blades-grey);
      }

      h1.chat-header {
        margin: 0;
        padding: 0;
        text-align: center;
        background: transparent;
        box-shadow: none;
        font-size: 32px;
        color: var(--blades-gold);
      }

      .roll-outcome-container {
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        margin: 5px 0 10px 0;

        &.roll-result-critical {
          --background-color: var(--blades-gold-bright);
          --label-color: var(--blades-black);
        }
        &.roll-result-success {
          --background-color: var(--blades-white-bright);
          --label-color: var(--blades-black);
        }
        &.roll-result-partial {
          --background-color: var(--blades-black);
          --label-color: var(--blades-white);
        }
        &.roll-result-fail {
          --background-color: var(--blades-red-darkest);
          --label-color: var(--blades-red-bright);
        }

        background: var(--background-color);

        .roll-state-container {
          flex-basis: 10%;
          flex-grow: 0.3;
          flex-shrink: 1;

          h4.roll-state-label {
            font-family: var(--font-primary);
            // border-bottom: 1px solid white;
            font-size: 12px;
            display: block;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            color: var(--blades-grey);
            margin-top: -4px;
            text-shadow: var(--text-shadow-dark);
          }

          h3.roll-state {
            white-space: nowrap;
            text-shadow: var(--text-shadow-dark);
          }
        }

        .roll-result-container {
          .roll-result-label {
            background: none;
            box-shadow: none;
            color: var(--label-color);
            white-space: nowrap;
            margin: 0;
            padding: 0;

            &.roll-result-top-label {
              font-size: 26px;
              line-height: 26px;
            }
            &.roll-result-bottom-label {
              font-size: 14px;
              font-family: var(--font-emphasis-narrow);

            }
            &.roll-result-main-label {

            }
          }
        }


      }

      // h2.chat-header.roll-position {
      //   text-align: right;
      //   font-family: var(--font-primary);

      //   .position-text {
      //     margin: 0 15px;
      //     transform-origin: 50% 50%;
      //     scale: 1.5;
      //     display: inline-block;
      //     font-family: var(--font-emphasis);

      //     &.position-text-controlled {}
      //     &.position-text-risky {}
      //     &.position-text-desperate { }
      //   }
      // }

      .dice-roll-strip {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 30px;
        width: 100%;
        align-items: stretch;
        justify-content: center;
        gap: 10px;
        margin: 5px 0;

        .blades-die {
          display: block;
          height: 30px;

          img {
            height: 30px;
            width: 30px;
            display: block;
          }

          &.blades-die-critical {
            outline: 2px solid var(--blades-gold-bright);

          }
          &.blades-die-success {
            outline: 2px solid var(--blades-white-bright);
          }
          // &.blades-die-partial {

          // }
          // &.blades-die-fail {

          // }
          &.blades-die-ghost {
            img { opacity: 0.5 }
          }
          &.blades-die-resistance {
            outline: 2px solid var(--blades-blue-bright);
          }
        }
      }
    }

    .dice-roll-strip {
    }

    .chat-label, .chat-trait-label {
      background-color: var(--blades-grey-bright);
      font-family: var(--font-emphasis);
      color: var(--blades-white);
      font-size: 21px;
      text-align: center;
      padding: 0px 5px;
      height: 30px;
      text-transform: capitalize;
    }
    .chat-label-small {
      background-color: var(--blades-grey);
      color: var(--blades-black);
      font-size: small;
      text-align: center;
      padding: 3px 5px;
      height: 20px;
    }

    .label-stripe-chat {
      text-transform: uppercase;
      background-color: var(--blades-black);
      color: var(--blades-white);
      position: relative;
      padding-top: 3px;
      display: flex;
      font-weight: bold;
      margin: 0;
    }

    .label-stripe-chat-small {
      text-transform: capitalize;
      background-color: var(--blades-grey);
      color: var(--blades-black);
      margin-bottom: 10px;
      position: relative;
      padding-top: 3px;
      display: flex;
      font-weight: bold;
    }


    .blades-die-tooltip {
      .die {
        font-weight: bold;
        text-transform: capitalize;
        font-size: large;

        &.critical-success {
          color: var(--blades-color-positive);
        }

        &.success {
          color: var(--blades-white-bright);
        }

        &.partial-success {
          color: var(--blades-grey-bright);
        }

        &.failure {
          color: var(--blades-color-negative);
        }
      }
    }


  }
}
