@use "sass:math";
$remPerPixel: 0.0625rem;

@function toRem($pixelSize) {
	@if not unitless($pixelSize) {
		$pixelSize: $pixelSize / 1px;
	}
	@return $pixelSize * $remPerPixel;
}

@function zLevel($delta: 0) {
	$z-index-base: 2;
	@return $z-index-base + $delta;
}