& {

	blockquote {
		border-left: 2px solid var(--blades-grey-bright);
		margin-left: 1.5rem;
		padding-left: 1rem;
	}

	table,
	table tr,
	table tr th,
	table tr td,
	table thead,
	table thead tr,
	table thead tr th,
	table thead tr td,
	table tbody,
	table tbody tr,
	table tbody td {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
	}

	table {
		border-collapse: collapse;

		thead {
			th {
				background-color: var(--blades-white);
				text-shadow: none;
				color: var(--blades-black);
				font-family: var(--font-emphasis);
				font-weight: normal;
				font-size: 20px;
				font-variant: small-caps;
				padding: 2px;
			}
		}
	}

	figure {
		display: table;
		margin: 1rem auto;

		figcaption {
			font-family: var(--font-default-small);
			color: var(--blades-grey-bright);
			display: block;
			margin-top: 0.25rem;
			text-align: center;
		}
	}

	hr {
		border-color: var(--blades-grey-bright);
		border-style: solid;
		border-width: 1px 0 0 0;
	}

	code {
		padding: 0.1rem 0.2rem;
	}

	.text-secret {
		display: var(--secret-text-display, "none");
		background-color: var(--blades-black-dark);
		color: var(--blades-grey);
		font-weight: bold;
		font-style: italic;
		border-radius: 3px;
		outline: 1px dotted var(--blades-white);
		padding: 0 #{toRem(5px)};
		margin: 0 #{toRem(5px)};
	}

	.number-circle {
		--nc-size: var(--number-circle-size, #{toRem(20px)});
		--nc-border-width: calc(var(--nc-size) * (1/10));
		--nc-font-size: calc(var(--nc-size) * (7/10));
		--nc-border-radius: calc(var(--nc-size) * (5/10));
		--nc-line-height: calc(var(--nc-size) * (8/10));
		--nc-drop-shadow: calc(var(--nc-size) * (0.5/10));

		height: var(--nc-size);
		width: var(--nc-size);
		font-weight: bold;
		font-family: "Minion Pro Caption Cond";
		font-size: var(--nc-font-size);
		text-align: center;
		border-radius: var(--nc-border-radius);
		background: var(--number-circle-bg, var(--blades-grey-dark));
		color: var(--number-circle-color, var(--blades-white));
		line-height: var(--nc-line-height);
		// padding-left: var(--nc-drop-shadow);
		border: var(--nc-border-width) outset var(--number-circle-color, var(--blades-white));
		// filter: drop-shadow(var(--nc-drop-shadow) var(--nc-drop-shadow) var(--nc-drop-shadow) var(--blades-black-dark));
	}

	.labelled-item {
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		justify-content: center;
		align-items: center;

		label {
			color: var(--blades-white-bright);
			font-size: toRem(12px);
			line-height: toRem(12px);
			position: relative;
			z-index: 1;
			flex-grow: 0.5;

			&.labelled-item-prompt {
				font-size: toRem(16px);
				line-height: 1.1;
				white-space: wrap;
				font-family: var(--font-decorative-alt-smallcaps);
				font-family: var(--font-emphasis);
				color: var(--blades-gold);
				transition: 0.25s;
				text-transform: uppercase;
				text-align: center;

				&::first-line {
					font-size: toRem(14px);
					text-transform: lowercase;
					font-variant: small-caps;
					text-shadow: none;
					text-align: center;
					color: var(--blades-white);
				}

				&:hover {
					transform: scale(1.4);
					color: var(--blades-gold-bright);

					&::first-line {
						color: var(--blades-gold-bright);
					}
				}
			}
		}

		input[type="text"] {
			font-size: toRem(14px);
			height: toRem(18px);
			font-family: var(--font-emphasis);
			text-transform: uppercase;
		}

		.item-name, .sub-actor-name {
			pointer-events: none;

			&.item-title, .item-title {
				pointer-events: auto;
			}
		}

		.labelled-item-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-grow: 1;
			position: relative;


			h1,h2,h3,h4,p,blockquote,table {
				margin: 0;
				padding: 0;
			}
		}

		&.labelled-vertical {
			--labelled-item-img-scale: 1.5;
			--labelled-item-name-size: #{toRem(16px)};
			flex-direction: column;

			> label {
				text-align: center;
			}

			.item-name, .sub-actor-name {
				text-align: center;
				white-space: nowrap;
				font-family: var(--font-emphasis);
				position: absolute;
				z-index: 2;
				transform: translate(-50%, -50%);
				top: 65%;
				font-size: var(--labelled-item-name-size);
				left: 50%;
				color: var(--blades-white-bright);
				text-transform: uppercase;

				&.long-name {
					white-space: initial;
				}
			}

			.labelled-item-container {
				display: flex;
				flex-direction: column;
				min-height: toRem(40px);
				width: 100%;

				> img {
					position: absolute;
					transform:
						translate(-50%, -50%)
						scaleX(var(--labelled-item-img-scaleX, var(--labelled-item-img-scale)))
						scaleY(var(--labelled-item-img-scaleY, var(--labelled-item-img-scale)));
					opacity: 0.5;
					filter: blur(0.5px);
					top: 70%;
					left: 50%;
					height: 100%;
					z-index: -1;
				}
			}
		}

		&.labelled-horizontal {
			flex-direction: row;
			justify-content: stretch;
			align-items: center;

			label {
				text-align: right;

				.item-img {
					position: absolute;
				}
			}
		}
	}

	.shadowed, .labelled-item label, .labelled-item input[type="text"] {
		box-shadow: none;
		background: transparent;
		text-shadow:
			0 0 4px var(--blades-black-dark),
			0 0 4px var(--blades-black-dark),
			0 0 4px var(--blades-black-dark),
			0 0 4px var(--blades-black-dark);
	}

	.text-checkbox {
		position: relative;
		display: inline-block;

		input[type="checkbox"] {
			opacity: 0;
			height: 100%;
			width: 100%;
			margin-right: -100%;
			display: inline-block;
		}
		span {
			display: inline-block;
		}

		input[type="checkbox"]:checked + span {
			color: var(--active-text-color, var(--blades-gold-bright));
		}
	}

	.tooltip {
		display: none;
		position: absolute;
		padding: 10px;
		color: var(--blades-white);
		background-color: var(--blades-black);
		border: 1px solid #777;
		//box-shadow: 0 1px 3px 1px rgba(0,0,0,0.5);
		border-radius: 3px;
		z-index: 9999999;
		max-width: 300px;
	}

	.full-width {
		position: relative;
		width: calc(100% + (2 * var(--content-padding)));
		left: calc(-1 * var(--content-padding));
	}

	.flex-horizontal {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: baseline;
	}

	.flex-vertical {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}