&	{

	margin: 0;
	padding: 0;
	border: none;
	background: transparent;

	color: var(--color-default);

	font: {
		family: var(--font-default);
		size: var(--font-size-default);
		weight: var(--font-weight-default);
		style: var(--font-style-default);
		variant: var(--font-variant-default);
	}
	line-height: var(--line-height-default);
	text: {
		shadow: var(--text-shadow-default);
		transform: var(--text-transform-default);
	}

	* {
		color: inherit;
		font: {
			family: inherit;
			size: inherit;
			weight: inherit;
			style: inherit;
			variant: inherit;
		}
		line-height: inherit;
		text: {
			shadow: inherit;
			transform: inherit;
		}
	}

	b, strong { font-weight: bold; color: var(--blades-white-bright) }
	i:not([class]), em { font-style: italic }
	i[class] { font-family: var(--font-awesome) }
	i.fab { font-family: var(--font-awesome-alt)}

	h1, h2, h3, h4 {
		color: var(--color-heading);
		font: {
			family: var(--font-heading);
			weight: var(--font-weight-heading);
		}
		line-height: var(--line-height-heading);
		text: {
			shadow: var(--text-shadow-heading);
		}
		border: none;
		padding: 0;
		margin: 0 0 0.5rem 0;
	}
	h1 {
		background: var(--background-heading);
		font: {
			size: var(--size-20px);
		}
		padding: 0.5rem;
		text: {
			transform: uppercase;
		}
	}

	h2 {
		background: var(--background-heading);
		font: {
			size: var(--size-18px);
		}
		padding: 0.5rem;
		text: {
			transform: uppercase;
		}
	}

	h3 {
		font: {
			size: var(--size-18px);
		}
		border-bottom: 2px solid var(--background-heading);
	}

	h4 {
		font: {
			size: var(--size-16px);
		}
		border-bottom: 1px solid var(--background-heading);
	}

	select,
	input,
	option,
	textarea {
		background: var(--background-input);
		border: var(--border-input);
		box-shadow: var(--box-shadow-input);

		&[type="text"], &[data-type="string"], &[data-type="string"] option {

		}

		&[type="number"], &[data-type="number"], &[data-type="number"] option {
			text-align: right;
			font-family: var(--font-emphasis);
		}

		option {
			color: var(--blades-white);
			background: var(--blades-black);
		}
	}

	p {
		margin: 0.5rem 0;
		min-height: 1rem;
	}
}