& {

	blockquote {
		border-left: 2px solid var(--blades-grey-bright);
		margin-left: 1.5rem;
		padding-left: 1rem;
	}

	table {
		border-collapse: collapse;

		th.black-white,
		th.black-white label {
			background-color: var(--blades-white) !important;
			text-shadow: none;
			color: var(--blades-black) !important;
			font-family: var(--font-emphasis);
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
			padding: 3px;
		}

		th,
		td {
			border: 1px solid var(--blades-grey);
			padding: 0.4rem;
		}

		&.items-list {
			&.effects-list {

				thead,
				tbody {
					th {
						margin: 0 !important;
					}

					th:nth-of-type(1),
					td:nth-of-type(1) {
						width: 40%;
					}

					th:nth-of-type(2),
					td:nth-of-type(2) {
						width: 30%;
						text-align: center;
					}

					th:nth-of-type(3),
					td:nth-of-type(3) {
						width: 15%;
						text-align: center;
					}

					th:nth-of-type(4),
					td:nth-of-type(4) {
						width: 15%;
						text-align: right;
					}

					td {
						// height: 24px;
						line-height: 24px;
						margin: 0;
						vertical-align: middle;
					}

					img {
						height: 24px;
						width: 24px;
						vertical-align: middle;
					}

					h4 {
						display: inline-block;
						line-height: 24px;
						margin: 0;
						vertical-align: middle;
					}
				}
			}
		}
	}

	figure {
		display: table;
		margin: 1rem auto;

		figcaption {
			font-family: var(--font-default-small);
			color: var(--blades-grey-bright);
			display: block;
			margin-top: 0.25rem;
			text-align: center;
		}
	}

	hr {
		border-color: var(--blades-grey-bright);
		border-style: solid;
		border-width: 1px 0 0 0;
	}

	code {
		padding: 0.1rem 0.2rem;
	}

	.text-secret {
		display: var(--secret-text-display, "none");
		background-color: var(--blades-black-dark);
		color: var(--blades-grey);
		font-weight: bold;
		font-style: italic;
		border-radius: 3px;
		outline: 1px dotted var(--blades-white);
		padding: 0 #{toRem(5px)};
		margin: 0 #{toRem(5px)};
	}

	.clock-zero-label {
		color: var(--blades-white);
	}

	// #region ████████ STRIPE LABELS: "Stripe"-type Labels & Stripe "Teeth" ████████ ~
	.stripe,
	.stripe label {
		background-color: var(--blades-white) !important;
		color: var(--blades-black) !important;
		height: toRem(24px);
		line-height: toRem(24px);
		line-height: toRem(24px);
	}

	.stripe-tooth-body label {
		color: var(--blades-black) !important;
	}

	label.black-label {
		background-color: var(--blades-white);
		color: var(--blades-black) !important;
	}

	.label-stripe {
		background-color: var(--blades-grey);
	}

	.label-stripe-gray {
		margin: 0;

		th,
		th>*:not(:hover) {
			color: var(--blades-white-bright);
			text-shadow: 1px 1px 0px var(--blades-black-dark);
		}
	}

	// #endregion ▄▄▄▄▄ STRIPE LABELS ▄▄▄▄▄

	.labelled-input {
		display: flex;
		flex-direction: column;
		margin-top: toRem(4px);

		label {
			color: var(--blades-grey);
			font-size: toRem(10px);
			line-height: toRem(10px);
			text-align: left;
			padding-bottom: toRem(2px);
		}

		input[type="text"] {
			font-size: toRem(14px);
			height: toRem(18px);
			font-family: var(--font-emphasis);
			text-transform: uppercase;
		}

		&.labelled-item {
			.labelled-item-container {
				.item-body {
					img {
						height: toRem(24px);
					}
					.item-name {

					}
				}
			}
		}
	}

	.shadow-input, .labelled-input label, .labelled-input input[type="text"] {
		box-shadow: none;
		background: transparent;
		text-shadow:
			0 0 4px var(--blades-black-dark),
			0 0 4px var(--blades-black-dark),
			0 0 4px var(--blades-black-dark),
			0 0 4px var(--blades-black-dark);
	}
}