<div class="roll-select-container {{~#if tooltip}} tooltip-trigger{{/if}}">
  {{#if label}}
  <label class="select-label">{{label}}</label>
  {{/if}}
  <div class="roll-select">
    {{> ""
      cssClass="shadowed roll-sheet-select roll-sheet-select-doc"
      dataAction="gm-select"
      dataFlagTarget=(concat "rollCollab.rollParticipantData." section "." name)
      dataDType="String"
      dataDocType=(concat "BladesRollParticipant." section "." name)
      selected=selectedParticipant
      options=selectOptions
      }}
  </div>
</div>