<div class="roll-select-container {{~#if tooltip}} tooltip-trigger{{/if}}">
  {{#if label}}
  <label class="select-label">{{label}}</label>
  {{/if}}
  <div class="roll-select">
    <select class="shadowed roll-sheet-select roll-sheet-select-doc tooltip-trigger"
      data-action="gm-select" data-target-flag="{{targetFlag}}">
      {{#select (lookup (lookup docSelections section) name)}}
      <option value="false">(Select)</option>
      {{#each options}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>