& {
  display: block;
  height: 0px;
  width: 0px;
  position: static;
  pointer-events: none;

  > .overlay-section {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    perspective: 500px;
    transform-style: preserve-3d;
    z-index: 80;
    pointer-events: none;

    &.overlay-section-notifications,
    &.overlay-section-transitions,
    &.overlay-section-tooltips {
      z-index: 150;
    }
  }

  @import "../components/clocks";

  /* Sizing the Keys for Overlay Display */
  .clock-key-container {
    height: calc(0.5 * var(--key-height));
    width: calc(0.5 * var(--key-width));

    // &[data-size="1"] {
    //   height: calc(0.3 * var(--key-height));
    //   width: calc(0.3 * var(--key-width));
    // }

    &.clock-key-dragger {
      background: rgba(0, 255, 255, 0.25);
      outline: 1px solid rgba(0, 255, 255, 1);
      visibility: visible;
      pointer-events: all;
    }
  }

  /* VISIBILITY HIDDEN FOR ANIMATED COMPONENTS */
  .key-label,
  .clock-frame,
  .clock-glow,
  .clock-label,
  .clock-bg,
  .clock-fill,
  .clock-one-segment { visibility: hidden; }

  .faction-container {

    // .faction-label {
    //   position: absolute;
    //   top: 0%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   color: var(--blades-gold);
    //   font-size: 1.5em;
    // }
  }
}
