{{log "ROLL COLLAB GM CONTEXT" this}}

<form class="{{cssClass}} roll-collab-sheet roll-collab-sheet-gm" autocomplete="off">
  <div class="sheet-root">
    {{#if (test rollType "==" "Action")}}
    {{> "systems/eunos-blades/templates/roll/partials/roll-collab-action-gm.hbs" }}
    {{/if}}
    {{#if (test rollType "==" "Resistance")}}
    {{> "systems/eunos-blades/templates/roll/partials/roll-collab-resistance-gm.hbs" }}
    {{/if}}
    {{#if (test rollType "==" "Downtime")}}
    {{> "systems/eunos-blades/templates/roll/partials/roll-collab-downtime-gm.hbs" }}
    {{/if}}
    {{#if (test rollType "==" "Fortune")}}
    {{> "systems/eunos-blades/templates/roll/partials/roll-collab-fortune-gm.hbs" }}
    {{/if}}
  </div>
</form>