.dc-inline-roll {
  display: inline-block;
  position: relative;
}

.dc-inline-roll__result,
.dc-inline-roll__parts {
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0 4px;
  border-radius: 2px;
}

.dc-inline-roll__parts {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  background: rgba(50, 50, 50, 0.75);
  padding: 4px 8px;
  z-index: 999;
}

.dc-inline-roll:hover .dc-inline-roll__parts {
  display: flex;
}

.dc-formula {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px 0;
  line-height: 1;
}

.dc-parts {
  padding: 8px 0 4px;
  line-height: 1;
}

.dc-discarded {
  opacity: 0.3;
}