& {

  blockquote {
    border-left: 2px solid var(--blades-grey-bright);
    margin-left: 1.5rem;
    padding-left: 1rem;
  }

  table,
  table tr,
  table tr th,
  table tr td,
  table tbody,
  table tbody tr,
  table tbody td,
  table thead,
  table thead tr,
  table thead tr th,
  table thead tr td {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
  }

  table {
    border-collapse: collapse;

    thead {
      tr th {
        background-color: var(--blades-white);
        text-shadow: none;
        color: var(--blades-black);
        font-family: var(--font-emphasis);
        font-weight: normal;
        font-size: 20px;
        font-variant: small-caps;
        padding: 2px;
      }
    }
  }

  figure {
    display: table;
    margin: 1rem auto;

    figcaption {
      font-family: var(--font-primary-small);
      color: var(--blades-grey-bright);
      display: block;
      margin-top: 0.25rem;
      text-align: center;
    }
  }

  hr {
    border-color: var(--blades-grey-bright);
    border-style: solid;
    border-width: 1px 0 0 0;
  }

  code {
    padding: 0.1rem 0.2rem;
  }

  button {
    color: var(--color-text-dark-primary);
    background: var(--color-border-light-secondary);
    border-color: var(--color-border-light-primary);
    border-style: outset;
    border-radius: 3px;
  }

  input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
    background: var(--blades-black-dark-fade);
  }
  input[type="range"] + .range-value {
    background: var(--blades-black-dark-fade-strong);
  }

  input[type="checkbox"] {
    filter: brightness(var(--checkbox-brightness, 0.9)) invert(1);

    &:checked {
      --checkbox-brightness: 1.2;
      box-shadow: -1px -1px 1px var(--blades-white-bright), 0px 0px 1px var(--blades-black-dark);
    }
  }

  select {
    color: var(--color-text-dark-primary);
    background: var(--blades-black-dark-fade);
  }

  i.fa-duotone[style] {

    /* Your code here */
  }

  .text-secret {
    display: var(--secret-text-display, "none");
    background-color: var(--blades-white);
    color: var(--blades-black);
    font-weight: bold;
    font-style: italic;
    border-radius: 3px;
    // outline: 1px dotted var(--blades-white);
    box-shadow: 0 0 3px var(--blades-white-bright), 0 0 3px var(--blades-white-bright), 0 0 3px var(--blades-white-bright);
    padding: 0 #{toRem(5px)};
    margin: 0 #{toRem(5px)};

    &:first-child:last-child { display: block }
  }

  label:not([class]) {
    // background: var(--blades-grey-bright);
    color: var(--blades-white-bright);
    font-weight: bold;
  }

  .filled-label {
    font-size: toRem(20px);
    line-height: 1;
    flex-grow: 0;
    padding: toRem(5px);
    background: var(--blades-white);
    color: var(--blades-black);
    font-family: var(--font-emphasis);
    text-transform: uppercase;
    position: relative;
    // z-index: 4;
    display: block;
    width: min-content;
    white-space: nowrap;
    // left: -2px;

    &.narrow-label {
      transform-origin: 0 50%;
      scale: 0.8 1;
      min-width: 125%;
      margin-left: 25%;
    }
  }

  .number-circle {
    --nc-size: var(--number-circle-size, #{toRem(20px)});
    --nc-border-width: calc(var(--nc-size) * (1/10));
    --nc-font-size: calc(var(--nc-size) * (7/10));
    --nc-border-radius: calc(var(--nc-size) * (5/10));
    --nc-line-height: calc(var(--nc-size) * (8/10));
    --nc-drop-shadow: calc(var(--nc-size) * (0.5/10));

    height: var(--nc-size);
    width: var(--nc-size);
    font-weight: bold;
    font-family: var(--font-primary-small-narrow);
    font-size: var(--nc-font-size);
    text-align: center;
    border-radius: var(--nc-border-radius);
    background: var(--number-circle-bg, var(--blades-grey-dark));
    color: var(--number-circle-color, var(--blades-white));
    line-height: var(--nc-line-height);
    border: var(--nc-border-width) outset var(--number-circle-color, var(--blades-white));
    margin: #{toRem(-3px)} #{toRem(4px)} 0  0;
    flex-shrink: 0;
  }

  .gold-bright { color: var(--blades-gold-bright) !important }
  .red-bright { color: var(--blades-red-bright) !important }
  .red-dark { color: var(--blades-red-dark) !important}
  .grey { color: var(--blades-grey) !important }
  .white { color: var(--blades-white) !important }
  .white-bright { color: var(--blades-white-bright) !important }
  .cyan-bright { color: var(--blades-blue-bright) !important }
  .uppercase { text-transform: uppercase !important }
  .inline-code {
    font-family: var(--font-mono) !important;
    font-size: smaller;
    text-transform: uppercase;
  }

  .shadowed {
    box-shadow: none;
    background: transparent;
    text-shadow:
      0 0 4px var(--blades-black-dark),
      0 0 4px var(--blades-black-dark),
      0 0 4px var(--blades-black-dark),
      0 0 4px var(--blades-black-dark);
  }

  .hidden {
    display: none !important;
  }

  .start-invisible {
    opacity: 0;
  }

  .text-checkbox {
    position: relative;
    display: inline-block;

    input[type="checkbox"] {
      opacity: 0;
      height: 100%;
      width: 100%;
      margin-right: -100%;
      display: inline-block;
    }
    span {
      display: inline-block;
    }

    input[type="checkbox"]:checked + span {
      color: var(--active-text-color, var(--blades-gold-bright));
    }
  }

  .no-img { img { display: none } }

  .flex-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    &.flex-wrap {
      flex-wrap: wrap;
      align-content: flex-start;
    }

    &.full-width { width: 100%; justify-content: space-evenly }
  }

  .flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // min-width: min-content;
  }

  .full-width {
    width: 100%;
  }

  .tooltip-trigger, .tooltip-container {
    position: relative;
  }

  .tooltip-trigger {
    pointer-events: auto !important
  }

  .tooltip {
    // filter: none !important;
    // opacity: 1 !important;
    // visibility: visible !important;
    // pointer-events: all !important;


    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    color: var(--blades-white);
    background: var(--blades-black-dark);

    width: auto;
    // width: 400px;
    max-width: 400px;

    padding: toRem(10px);
    border: #{toRem(1px)} solid var(--blades-grey);
    border-radius: toRem(5px);
    box-shadow: 5px 5px 10px var(--blades-black-dark);

    // hyphens: auto;
    text-align: center;
    // text-wrap: balance;

    position: absolute;
    // top: unset;
    // left: -200px;
    // bottom: 50px;
    // z-index: zLevel(+10);
    // transform: translate(-50%, -50%);
    // top: 0%;
    // left: 0%;
    pointer-events: none;

    // transform-origin: 50% 100%;

    // bottom: 50px;

    > h1 {
      text-align: left;
      background: transparent;
      font-family: var(--font-emphasis);
      text-shadow:
        0px 0px 4px var(--blades-black-dark),
        0px 0px 4px var(--blades-black-dark),
        0px 0px 4px var(--blades-black-dark),
        0px 0px 4px var(--blades-black-dark);
      width: 100%;
      margin: 0;
      border-bottom: 2px solid var(--blades-white);
      white-space: nowrap;
      text-transform: none;

      &:last-of-type { margin-bottom: 5px }
    }

    > p, ul, ol, li {
      font-family: var(--font-primary);
      margin: 5px 0;
      text-align: left;
      text-wrap: normal;

    }

    > ul, ol {
      margin: 5px 0;
      text-align: left;
      text-wrap: normal;
      li { text-wrap: normal }
    }

    h2 {
      color: var(--blades-white-bright);
    }
  }

  .tooltip-placeholder {
    position: absolute;
    z-index: 9999;
    background: rgba(255, 255, 0, 0.1);
    outline: 1px dotted yellow;
    pointer-events: none;

    &.trigger-placeholder {
      background: rgba(255, 0, 255, 0.1);
      outline: 1px dotted magenta;
    }
    &.source-placeholder {
      background: rgba(0, 255, 255, 0.1);
      outline: 1px dotted cyan;
    }
  }

  .tooltip-scaling-elem {
    display: inline-block;
  }

  .player-character-summary-panel {
    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    height: min-content;

    .pc-summary {
      width: 100%;
      // flex-basis: 50%;
      overflow: visible;
      padding: 5px;
      // max-width: 50%;
      position: relative;
      z-index: 4;

      &:hover { z-index: 5 }
      pointer-events: auto;
      // overflow: hidden;

      display: grid;
      grid-template-areas:
        "header header header notes"
        "actions assets harm notes";
      grid-template-rows: 20px 1fr;
      grid-template-columns: 16% 16% 16% 1fr;

      .pc-summary-img {
        position: absolute;
        top: 20px;
        width: 16%;
        // left: 50%;
        pointer-events: none;
        z-index: -1;
        opacity: 0.5;
        // filter: blur(2px);
        // transform: -50% -50%;
      }
      section.pc-summary-header {
        grid-area: header;
        display: grid;
        grid-template-areas: "name name heritage background-img vice-img playbook-img";
        grid-template-rows: 20px;
        grid-template-columns: 1fr 1fr 40px 20px 20px 20px;
        position: relative;
        width: 100%;
        // background: rgba(255, 255, 255, 0.25);
        grid-gap: 5px;


        height: min-content;
        // min-height: 300px;

        > img {
          filter:  drop-shadow(1px 1px 0px var(--blades-black-dark));
          &.pc-summary-background-img {
            grid-area: background-img;
          }
          &.pc-summary-vice-img {
            grid-area: vice-img;
          }
          &.pc-summary-playbook-img {
            grid-area: playbook-img;
          }
        }

        .pc-summary-name {
          grid-area: name;
          font-family: var(--font-emphasis);
          font-size: toRem(20px);
          line-height: toRem(20px);
          color: var(--blades-white-bright);
          font-variant: small-caps;
        }
        .pc-summary-heritage {
          grid-area: heritage;
          font-size: 10px;
          font-family: var(--font-emphasis-narrow);
          text-transform: uppercase;
          line-height: 20px;
          text-align: right;
          color: var(--blades-white-bright);
          padding-right: 5px;
        }
      }

      section.pc-summary-actions {
        grid-area: actions;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

        .pc-summary-attribute {
          text-align: center;
          flex-basis: 100%;
          flex-grow: 1;
          flex-shrink: 0;
          line-height: toRem(14px);
          height: toRem(14px);
          &:not(:first-child) {
            margin-top: 5px;
          }
          label {
            font-family: var(--font-emphasis-narrow);
            font-size: toRem(12px);
            line-height: toRem(12px);
            color: var(--blades-white);
          }
          span {
            font-family: var(--font-emphasis-narrow);
            font-size: toRem(12px);
            line-height: toRem(12px);
            color: var(--blades-white-bright);
          }
        }

        .pc-summary-action {
          flex-basis: 50%;
          flex-grow: 0;
          flex-shrink: 0;
          line-height: toRem(12px);
          height: toRem(12px);
          display: flex;
          flex-direction: row;
          label {
            font-family: var(--font-emphasis-narrow);
            font-size: toRem(10px);
            line-height: toRem(10px);
            color: var(--blades-grey-bright);
            flex-grow: 1;
            text-align: right;
          }
          span {
            font-family: var(--font-emphasis-narrow);
            font-size: toRem(10px);
            line-height: toRem(10px);
            color: var(--blades-white-bright);
            width: 20px;
            text-align: center;
          }
        }


      }

      section.pc-summary-assets {
        grid-area: assets;
        padding-right: 3px;
        position: relative;
        z-index: 5;

        &:hover { z-index: 10 }

        .pc-summary-assets-container {
          &:not(:first-child) {
            margin-top: 5px;
            border-top: 1px dotted var(--blades-white-bright);
          }
          .pc-summary-gear-loadout-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: stretch;
            gap: 3px;
            height: 14px;
            .pc-summary-gear-loadout {
              flex-grow: 1;
              font-family: "Fjalla One", sans-serif;
              font-size: 10px;
              line-height: 12px;
              text-transform: uppercase;
              white-space: nowrap;
              overflow: hidden;
              text-align: left;
              color: var(--blades-gold-bright);
            }
            i {
              font-size: 10px;
              line-height: 12px;
            }
          }

          .pc-summary-asset {
            display: flex;
            flex-direction: row;

            .pc-summary-asset-img {
              height: 12px;
              flex-grow: 0;
              flex-shrink: 0;
              flex-basis: 12px;
            }

            .pc-summary-asset-name {
              flex-grow: 1;
              font-family: "Fjalla One", sans-serif;
              font-size: 10px;
              line-height: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-transform: uppercase;
              color: var(--blades-white-bright);

              &:hover {overflow: visible}
            }
          }
        }
      }

      section.pc-summary-maluses {
        grid-area: harm;

        .pc-summary-stress-container {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          height: 14px;
          overflow: hidden;
          flex-wrap: nowrap;
          flex-direction: row;

          .pc-summary-stress-box {
            display: block;
            height: 100%;
            width: 5px;
            margin: 0px 1px;
            border: 1px solid var(--blades-red-dark);
            border-radius: 3px;

            &.stress-box-full {
              background: var(--blades-red-bright);
              border-color: var(--blades-red);
            }
          }
        }

        .pc-summary-trauma-container {
          margin-top: 5px;
          border-bottom: 1px dotted var(--blades-red);
          .pc-summary-trauma {
            color: var(--blades-red-bright);
            font-weight: bold;
            font-family: var(--font-emphasis), serif;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            width: 100%;
            display: block;
          }
        }

        .pc-summary-harm-container {
          margin-top: 5px;
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          flex-direction: column;

          .pc-summary-harm {
            font-size: 10px;
            font-family: "Fjalla One", sans-serif;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: stretch;
            flex-grow: 1;
            padding: 0 5px;
            line-height: 15px;
            pointer-events: auto;

            &:hover { overflow: visible }

            > label {
              flex-grow: 1;
              white-space: nowrap;
              padding-left: 4px;
            }
            > i { line-height: 15px }

            &.pc-harm-severe {
              color: var(--blades-white-bright);
              background: var(--blades-red-dark);
              font-weight: bold;
            }
            &.pc-harm-moderate {
              color: var(--blades-red-bright);
              background: var(--blades-red-dark-fade);
              font-weight: bold;
            }
            &.pc-harm-lesser {
              color: var(--blades-red-bright);
              background: var(--blades-red-dark-fade-strong);
            }

            &.harm-inactive {
              background: transparent;
              color: var(--blades-grey);
            }
          }
        }
      }

      section.pc-summary-notes {
        grid-area: notes;

        .pc-summary-notes-body {
          height: 100%;
          resize: none;
        }
      }
    }
  }

  .selectable-image-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    border-left: 4px double var(--blades-white);
    border-right: 4px double var(--blades-white);
    gap: 5px;
    height: min-content;
    position: relative;
    min-height: 100px;
    // padding-right: 15px;

    .selectable-image {
      pointer-events: auto !important;
      max-height: 100px;
      max-width: 100px;
      filter: brightness(1.5);

      &.image-selected {
        outline: 2px solid var(--blades-green-bright);
        // max-width: 68px;
        // margin: -2px;
        position: relative;
        z-index: 2;
      }
    }

    .add-image-control {
      position: absolute;
      z-index: 3;
      top: 10px;
      right: 10px;
      pointer-events: auto !important;
      height: 20px;
      width: 20px;
      rotate: 45deg;
      opacity: 0.5;
      transition: 0.25s;

      &:hover { opacity: 1 }
    }

  }

  .opposition-creation-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: min-content;
    flex-grow: 0;
    gap: 5px;

    .roll-opposition-container {
      flex-basis: 45%;
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;

      &.selected-opposition {
        box-shadow:
          inset 0 0 10px var(--blades-green-bright),
          inset 0 0 10px var(--blades-green-bright),
          inset 0 0 10px var(--blades-green-bright);
      }
      &.opposition-blank {
        opacity: 0.5;
        filter: blur(2px);
      }

      .roll-opposition-top-container {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
        align-items: flex-start;

        .roll-opposition-img {
          max-height: 58px;
          max-width: 58px;
          flex-grow: 0;
          pointer-events: auto !important;
        }

        .roll-opposition-text-container {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          align-items: stretch;
          justify-content: space-between;
        }
      }

      .roll-opposition-factors-container,
      .roll-opposition-factor-label-container {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;

        .factor-label {
          flex-grow: 1;
          text-align: center;
          font-family: "Fjalla One", sans-serif;
          font-size: 8px;
          color: var(--blades-white-bright);
          max-width: 50px;
        }

        .factor-selector {
          flex-grow: 0;
          flex-basis: 25%;
          flex-shrink: 1;
          pointer-events: auto !important;
          font-family: var(--font-emphasis);
          color: var(--blades-white-bright);
          text-align: center;
          font-size: 14px;
          height: 18px;
          max-width: 50px;
        }
      }

      input.shadowed {
        pointer-events: auto !important;
        font-family: "Fjalla One", sans-serif;
        background: var(--blades-black-dark-fade-strong);
        border-radius: 3px;
        box-shadow:
          inset 0px 0px 3px var(--blades-black-dark),
          inset 0px 0px 3px var(--blades-black-dark),
          inset 0px 0px 3px var(--blades-black-dark),
          inset 0px 0px 3px var(--blades-black-dark);
        font-size: toRem(14px);
        color: var(--blades-white-bright);
        height: toRem(18px);
        transform-origin: 0% 50%;
        flex-shrink: 1;
        scale: 0.75 1;
        width: calc(100% / 0.75);

      }

    }

  }

  .accordian-label {
    position: relative;
    filter: sepia(0.75);

    .randomizer-trigger {
      position: absolute;
      text-indent: 0px;
      left: 5px;
      translate: 0 -50%;
      top: 50%;
      scale: 1;
      color: var(--blades-black);
      text-shadow: none;
      transform-origin: 50% 50%;
      transition: 0.25s;

      &:hover {
        scale: 1.2;
        color: var(--blades-gold-bright);
        text-shadow:
          0px 0px 4px var(--blades-black-dark),
          0px 0px 4px var(--blades-black-dark),
          0px 0px 4px var(--blades-black-dark),
          0px 0px 4px var(--blades-black-dark);
      }
    }

    &.accordian-label-small {
      height: calc(0.75 * var(--header-height));
      line-height: calc(0.8 * var(--header-height));
      width: calc(100% - 10px);
      margin-left: 10px;
      filter: none;

      .randomizer-trigger { top: 60% }
    }
  }
  .randomizer-panel {
    .randomizer-container {
      .randomizer-list {

        .randomizer-item {
          position: relative;

          &:not(:last-child) {
            border-bottom: 1px dotted var(--blades-white);
          }

          &:not(.randomizer-item-locked) {
            .randomizer-input {
              background: transparent;
              box-shadow: none;
            }
          }

          *:not(i) { font-family: var(--font-primary-narrow) }

          textarea {
            resize: none;
            min-height: 2.5rem;
            padding: 3px;
            text-indent: 0;
            font-size: 10px;
            overflow: hidden;
          }

          ul {
            font-size: 10px;
            margin: 0 0 0 10px;
            padding: 0;
            list-style: none;

            li::before {
              content: "● ";
              margin-left: -9px;
            }
          }

          .randomizer-input-title {
            max-width: calc(100% - 25px);
            margin-left: 25px;
          }

          .toggle-icon {
            position: absolute;
            cursor: pointer;
            left: 0;
            bottom: unset;
            right: unset;
            top: 0;
            pointer-events: auto;
            z-index: 20
          }
        }
      }
    }
  }
}