{{!-- ARMOR (NORMAL) RESISTANCE --}}

{{!-- csqAcceptedHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted consequence-resisted">

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img"
        src="systems/eunos-blades/assets/icons/consequence-icons/base-complication-major.svg" />
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Major Complication</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Explosive Decompression</label>
  </div>

</div>

{{!-- csqResistedHTML + Overlay --}}
<div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">

  <div class="resist-overlay armor-resist-overlay">
    <img class="resist-overlay-img armor-resist-overlay-img"
      src="systems/eunos-blades/assets/icons/misc-icons/armor-resist.svg">
  </div>

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img"
        src="systems/eunos-blades/assets/icons/consequence-icons/base-complication-minor.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Minor Complication</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Sudden Pressure Surge</label>
  </div>
</div>

{{!-- csqAcceptedHTML + csqResistedHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted consequence-resisted">
  <div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">
    <div class="resist-overlay armor-resist-overlay">
      <img class="resist-overlay-img armor-resist-overlay-img"
        src="systems/eunos-blades/assets/icons/misc-icons/armor-resist.svg">
    </div>
    <div class="consequence-icon-container">
      <div class="consequence-icon-circle base-consequence">
        <img class="consequence-icon-img"
          src="systems/eunos-blades/assets/icons/consequence-icons/base-complication-minor.svg">
      </div>
    </div>

    <div class="consequence-type-container">
      <label class="consequence-type base-consequence">Minor Complication</label>
    </div>
    <div class="consequence-name-container">
      <label class="consequence-name base-consequence">Sudden Pressure Surge</label>
    </div>
  </div>
  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img"
        src="systems/eunos-blades/assets/icons/consequence-icons/base-complication-major.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Major Complication</label>
  </div>
  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Explosive Decompression</label>
  </div>
</div>


{{!-- RESISTANCE ROLL RESISTANCE --}}

{{!-- csqAcceptedHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted consequence-resisted">

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-2.svg" />
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Level 2 Harm (Moderate)</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Shell-Shocked</label>
  </div>

</div>

{{!-- csqResistedHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-1.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Level 1 Harm (Lesser)</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Nervous</label>
  </div>

</div>

{{!-- csqResistedHTML + rollHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-1.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Level 1 Harm (Lesser)</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Nervous</label>
  </div>

  <span class="trait-label csq-resisted">RESOLVE: </span>

  <div class="dice-roll-strip csq-resisted">
    <span class="blades-die blades-die-resistance blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
    <span class="blades-die blades-die-fail blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
    <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
    <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
    <span class="blades-die blades-die-fail blades-die-2"><img src="systems/eunos-blades/assets/dice/image/grad-2.webp"></span>
  </div>

  <div class="resistance-cost-row cost-stress csq-resisted">
    <h3>Alistair Loses 2 Stress</h3>
  </div>

</div>


{{!-- csqResistedHTML + rollHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-1.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Level 1 Harm (Lesser)</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Nervous</label>
  </div>

  <span class="trait-label csq-resisted">RESOLVE: </span>

  <div class="dice-roll-strip csq-resisted">
    <span class="blades-die blades-die-resistance blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
    <span class="blades-die blades-die-fail blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
    <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
    <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
    <span class="blades-die blades-die-fail blades-die-2"><img src="systems/eunos-blades/assets/dice/image/grad-2.webp"></span>
  </div>

  <div class="resistance-cost-row cost-stress csq-resisted">
    <h3>Alistair Loses 2 Stress</h3>
  </div>

</div>


{{!-- csqResistedHTML + Overlay --}}
<div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">

  <div class="resist-overlay resist-resist-overlay">
    <img class="resist-overlay-img resist-resist-overlay-img" src="systems/eunos-blades/assets/icons/misc-icons/resist-resist.svg">
  </div>

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-1.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Level 1 Harm (Lesser)</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Nervous</label>
  </div>

  <span class="trait-label csq-resisted">RESOLVE: </span>

  <div class="dice-roll-strip csq-resisted">
    <span class="blades-die blades-die-resistance blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
    <span class="blades-die blades-die-fail blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
    <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
    <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
    <span class="blades-die blades-die-fail blades-die-2"><img src="systems/eunos-blades/assets/dice/image/grad-2.webp"></span>
  </div>

  <div class="resistance-cost-row cost-stress csq-resisted">
    <h3>Alistair Loses 2 Stress</h3>
  </div>

</div>

{{!-- csqAcceptedHTML + csqResistedHTML --}}
<div class="comp consequence-display-container full-width consequence-accepted consequence-resisted">

  <div class="comp consequence-display-container full-width consequence-accepted sub-consequence-resisted">
    <div class="resist-overlay resist-resist-overlay">
      <img class="resist-overlay-img resist-resist-overlay-img" src="systems/eunos-blades/assets/icons/misc-icons/resist-resist.svg">
    </div>
    <div class="consequence-icon-container">
      <div class="consequence-icon-circle base-consequence">
        <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-1.svg">
      </div>
    </div>
    <div class="consequence-type-container">
      <label class="consequence-type base-consequence">Level 1 Harm (Lesser)</label>
    </div>
    <div class="consequence-name-container">
      <label class="consequence-name base-consequence">Nervous</label>
    </div>

    <span class="trait-label csq-resisted">RESOLVE: </span>

    <div class="dice-roll-strip csq-resisted">
      <span class="blades-die blades-die-resistance blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
      <span class="blades-die blades-die-fail blades-die-4"><img src="systems/eunos-blades/assets/dice/image/grad-4.webp"></span>
      <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
      <span class="blades-die blades-die-fail blades-die-3"><img src="systems/eunos-blades/assets/dice/image/grad-3.webp"></span>
      <span class="blades-die blades-die-fail blades-die-2"><img src="systems/eunos-blades/assets/dice/image/grad-2.webp"></span>
    </div>

    <div class="resistance-cost-row cost-stress csq-resisted">
      <h3>Alistair Loses 2 Stress</h3>
    </div>

  </div>
  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-harm-resolve-2.svg">
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">Level 2 Harm (Moderate)</label>
  </div>
  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">Shell-Shocked</label>
  </div>
</div>