&, .overlay-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 50;

  #testSquare {
    position: absolute;
    top: 200px;
    left: 300px;
    background: blue;
    height: 200px;
    width: 200px;
  }

  // .clock-key-container { visibility: hidden; }
}