textarea {
	color: var(--blades-white);
	font-family: "Minion Pro Caption";
	margin: 0;
	font-size: 12px;
	line-height: 16px;
}

.label-stripe {
	background-color: var(--blades-grey);
}
.label-stripe-gray {
    margin: 0;
    th, th > *:not(:hover) {
        color: var(--blades-white-bright);
        text-shadow: 1px 1px 0px var(--blades-black-dark);
    }
}

.clock-zero-label {
	color: var(--blades-white);
}

.stripe,
.stripe label {
	background-color: var(--blades-white) !important;
	color: var(--blades-black) !important;
}

.stripe-tooth-body label {
	color: var(--blades-black) !important;
}

label.black-label {
	background-color: var(--blades-white);
	color: var(--blades-black) !important;
}

th.black-white,
th.black-white label {
	background-color: var(--blades-white) !important;
	text-shadow: none;
	color: var(--blades-black) !important;
	font-family: "Kirsty";
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	padding: 3px;
}





table.items-list {
    &.effects-list {
        thead, tbody {
            th {
                margin: 0 !important;
            }
            th:nth-of-type(1), td:nth-of-type(1) {
                width: 40%;
            }
            th:nth-of-type(2), td:nth-of-type(2) {
                width: 30%;
                text-align: center;
            }
            th:nth-of-type(3), td:nth-of-type(3) {
                width: 15%;
                text-align: center;
            }
            th:nth-of-type(4), td:nth-of-type(4) {
                width: 15%;
                text-align: right;
            }
            td {
                // height: 24px;
                line-height: 24px;
                margin: 0;
                vertical-align: middle;
            }
            img {
                height: 24px;
                width: 24px;
                vertical-align: middle;
            }
            h4 {
                display: inline-block;
                color: var(--blades-white-bright);
                font-size: 16px;
                line-height: 24px;
                margin: 0;
                vertical-align: middle;
            }
        }
    }
}


.window-content {
    form {
        section {
            select {
                color: var(--blades-white);
            }

						.nav-panel {
							nav {
								background-color: var(--blades-white);
								padding: 0 10px;

								.item {
									color: var(--blades-black);
									padding: 0 10px;

									&.active {
										background-color: var(--blades-white-bright);
									}

									&:hover {
										color: var(--blades-black-dark);
										background-color: var(--blades-white-bright);
									}

								}
							}
						}

        //     .notes {
        //         flex: initial;
        //         font-size: inherit;
        //         line-height: inherit;
        //         margin: 0;

        //         .label-stripe {
        //             margin-bottom: 0;
        //         }
	      //  }
        }
    }
}
