$key-sizes: (
  1: (height: 455px, width: 202px, labelTop: 150px, inactiveKeyTop: -350px, inactiveLabelLeft: -40px, inactiveLabelBottom: 50px),
  2: (height: 624.438px, width: 202px, labelTop: 400px, inactiveKeyTop: -520px, inactiveLabelLeft: -40px, inactiveLabelBottom: 50px),
  3: (height: 915px, width: 280px, labelTop: 600px, inactiveKeyTop: -815px, inactiveLabelLeft: -10px, inactiveLabelBottom: 50px),
  4: (height: 1140px, width: 376px, labelTop: 700px, inactiveKeyTop: -925px, inactiveLabelLeft: 40px, inactiveLabelBottom: 150px),
  5: (height: 1140px, width: 376px, labelTop: 800px, inactiveKeyTop: -1025px, inactiveLabelLeft: 40px, inactiveLabelBottom: 50px),
  6: (height: 1150px, width: 376px, labelTop: 900px, inactiveKeyTop: -1025px, inactiveLabelLeft: 40px, inactiveLabelBottom: 50px)
);
$clock-positions: (
  1: (
    1: (x: 101px, y: 99px)
  ),
  2: (
    1: (x: 101px, y: 99px),
    2: (x: 101px, y: 279px)
  ),
  3: (
    1: (x: 140px, y: 99px),
    2: (x: 74px, y: 211px),
    3: (x: 206px, y: 211px)
  ),
  4: (
    1: (x: 188px, y: 99px),
    2: (x: 101px, y: 185px),
    3: (x: 275px, y: 185px),
    4: (x: 188px, y: 273px)
  ),
  5: (
    1: (x: 188px, y: 99px),
    2: (x: 101px, y: 185px),
    3: (x: 275px, y: 185px),
    4: (x: 188px, y: 273px),
    5: (x: 188px, y: 452px)
  ),
  6: (
    1: (x: 188px, y: 99px),
    2: (x: 101px, y: 185px),
    3: (x: 275px, y: 185px),
    4: (x: 188px, y: 273px),
    5: (x: 188px, y: 452px),
    6: (x: 188px, y: 683px)
  )
);

$label-positions: (
  1: (
    1: (x: 0, y: 0px, align: center, width: 100%),
  ),
  2: (
    1: (x: 0, y: 0px, align: center, width: 100%),
    2: (x: 0, y: 325px, align: center, width: 100%),
  ),
  3: (
    1: (x: 0, y: 0px, align: center, width: 100%),
    2: (x: -20px, y: 110px, align: right, width: 50%),
    3: (x: 220px, y: 265px, align: left, width: 50%),
  ),
  4: (
    1: (x: 0, y: 0px, align: center, width: 100%),
    2: (x: -60px, y: 80px, align: right, width: 50%),
    3: (x: 340px, y: 230px, align: left, width: 50%),
    4: (x: 0, y: 320px, align: center, width: 100%)
  ),
  5: (
    1: (x: 0, y: 0px, align: center, width: 100%),
    2: (x: -60px, y: 80px, align: right, width: 50%),
    3: (x: 340px, y: 230px, align: left, width: 50%),
    4: (x: 0, y: 320px, align: center, width: 100%),
    5: (x: 0, y: 500px, align: center, width: 100%),
  ),
  6: (
    1: (x: 0, y: 0px, align: center, width: 100%),
    2: (x: -60px, y: 80px, align: right, width: 50%),
    3: (x: 340px, y: 230px, align: left, width: 50%),
    4: (x: 0, y: 320px, align: center, width: 100%),
    5: (x: 0, y: 500px, align: center, width: 100%),
    6: (x: 0, y: 730px, align: center, width: 100%),
  )
);

& {

  &, & * {
  --top-shift: 50px;
  --left-shift: 75px;
  --key-scale: 0.6;
  --alternating-top-shift: 120px;
  --clock-frame-size: 108px;
  --clock-glow-size: calc(var(--clock-frame-size) * 3);
  --clock-glow-correction: -37px;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  // transform-origin: 0 0;
  // transform: scale(var(--key-scale));

  position: absolute !important;
  // width: calc((100% / var(--key-scale)) - var(--left-shift));
  // height: calc((100% / var(--key-scale)) - var(--top-shift));
  width: 100%;
  height: 100%;
  // top: var(--top-shift);
  // left: var(--left-shift);
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 50;

  .svg-defs { position: absolute; }

  .clock-key:nth-child(2n+1) { top: var(--alternating-top-shift) }

  @import './clocks';

  .clock-key-container {
    height: 300px;
    width: calc(0.6 * var(--key-width));

    // --clock-size: 110px;
  }

}
