& {
  display: flex;
  flex-direction: column;
  width: var(--turf-list-width, 880px);
  height: auto;
  margin: 0 auto;

  .turf-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:not(:nth-child(-n+3)) {
      display: none
    }

    *:first-child {
      margin-left: 0px;
    }

    *:last-child {
      margin-right: 0px;
    }

    .turf-block {
      --name-size: #{toRem(18px)};

      &:not(:nth-child(-n+5)) {
        display: none
      }

      transition: filter 0.1s;
      cursor: default;

      &:hover {
        background-color: rgb(41, 41, 41);
        .turf-name, .turf-description {
          filter: brightness(0.8);
          opacity: 0.8;
        }
        &.turf-selected {
          background-color: rgb(142, 142, 142);
        }
        // opacity: 0.9;
      }


      width: var(--turf-block-width, 135px);
      height: var(--turf-block-height, 125px);
      background-color: rgb(51, 51, 51);
      position: relative;
      margin: calc(var(--turf-block-gap, 40px) / 2);
      flex-grow: initial;
      border-radius: 5px;

      .connector {
        position: absolute;
        display: block;
        pointer-events: none;

        background-color: rgba(255, 255, 255, 0.1);

        &.no-connect {
          background-color: transparent !important
        }

        &.right,
        &.left {
          width: var(--turf-block-gap, 40px);
          height: calc(var(--turf-block-height, 125px) / 5);
          top: calc(var(--turf-block-height, 125px) / 2 - var(--turf-block-height, 125px) / 10);
        }

        &.left {
          left: calc(-1 * var(--turf-block-gap, 40px));
        }

        &.right {
          left: var(--turf-block-width, 135px);
        }

        &.top,
        &.bottom {
          height: var(--turf-block-gap, 40px);
          width: calc(var(--turf-block-height, 125px) / 5);
          left: calc(var(--turf-block-width, 135px) / 2 - var(--turf-block-height, 125px) / 10);
        }

        &.top {
          top: calc(-1 * var(--turf-block-gap, 40px));
        }

        &.bottom {
          top: var(--turf-block-height, 125px);
        }
      }

      .turf-name {
        /* Size & Position */
        height: var(--name-size);
        min-height: unset;
        margin: 0;
        padding: 0;
        position: relative;
        top: -10px;
        z-index: 3;

        /* Color, Background, Border & Outline */
        background: transparent;
        color: var(--blades-white);
        border: none;
        border-radius: 0px;
        box-shadow: none;

        /* Font & Text */
        font-family: var(--font-emphasis-narrow);
        font-size: var(--name-size);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        line-height: var(--name-size);

        /* Other */
        overflow: hidden;
        resize: none;
      }

      .turf-description {
        height: calc(100% - 18px);
        min-height: auto;
        width: var(--turf-block-width, 135px);
        padding: 0 2px;

        background: none;

        position: relative;
        top: -10px;

        font-family: var(--font-primary);
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        text-shadow:
          0.5px 0.5px 1px var(--blades-black-dark),
          0.5px 0.5px 1px var(--blades-black-dark),
          0.5px 0.5px 1px var(--blades-black-dark),
          0.5px 0.5px 1px var(--blades-black-dark);
        hyphens: auto;

        border: none;
        box-shadow: none;
        resize: none;

        &::placeholder {
          font-size: 0;
        }
      }

      .turf-control {
        color: var(--blades-black);
        text-shadow: 0 0 2px var(--blades-grey),
          0 0 2px var(--blades-grey),
          0 0 2px var(--blades-grey),
          0 0 2px var(--blades-grey);

        &.turf-select {
          position: absolute;
          top: -7px;
          left: -15px;
        }
      }

      .turf-readonly {
        cursor: default
      }

      &.turf-lair .turf-name {
        --name-size: #{toRem(32px)};
        font-family: var(--font-emphasis);
      }

      &.turf-turf .turf-name {
        --name-size: #{toRem(32px)};
        font-family: var(--font-emphasis);
      }

      &.turf-turf:not(.turf-selected) {

        .turf-name {
          top: calc(50% - 0.5 * var(--name-size));
        }

        .turf-description {
          display: none
        }

        .turf-district {
          display: none
        }
      }

      &.turf-selected {
        color: var(--blades-black);
        background-color: rgb(192, 192, 192);

        .connector {
          background-color: rgb(128, 128, 128);
        }

        .turf-name {
          color: var(--blades-white-bright);
        }

        .turf-description {
          color: var(--blades-black-dark);
          text-shadow: none;
          font-weight: bold;
        }

        &.turf-lair .turf-description,
        &.turf-turf .turf-description {
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
          padding: 2px;
          hyphens: auto;
          margin: 0px 2.5px 2.5px;
          width: calc(100% - 5px);
          height: calc(100% - 15px - 12px - 5px);
          cursor: text;

          &::placeholder {
            font-size: toRem(12px);
            font-style: italic;
            color: var(--blades-grey);
            padding: 30px 5px;
          }
        }

        .turf-district {
          position: absolute;
          z-index: 10;
          height: toRem(18px);
          min-height: unset;
          min-width: 100px;
          max-width: 100px;
          left: calc(50% - 50px);
          bottom: -10px;

          background: var(--blades-black);
          color: var(--blades-white);
          border-radius: 7px;
          outline: 1px outset var(--blades-white);

          font-family: var(--font-emphasis-narrow);
          font-size: toRem(14px);
          line-height: toRem(20px);
          text-align: center;

          overflow: hidden;
          resize: none;
        }

        .turf-control {
          color: var(--blades-white-bright);
          text-shadow: 0 0 12px var(--blades-white-bright),
            0 0 12px var(--blades-white-bright),
            0 0 12px var(--blades-white-bright),
            0 0 2px var(--blades-black-dark);
        }
      }
    }
  }
}