& {
  min-width: 700px !important;


  .window-content {
    max-height: 100%;

    form {

      --icon-size: 25px;

      .button-icon, .toggle-icon {
        position: relative;
        width: var(--icon-size);
        height: var(--icon-size);
        min-width: var(--icon-size);
        line-height: unset;
        margin: 0 calc(var(--icon-size) / 8);
        text-shadow:
          0px 0px 3px var(--blades-black-dark),
          0px 0px 3px var(--blades-black-dark);

        &.clock-control-delete-key {
          min-width: 20px;
          color: var(--blades-red);
          text-align: center;
          margin-left: 6px;
        }

        &.clock-control-pull-key {
          text-shadow: none;
        }

        i {
          margin: 0;
          width: auto;
          height: auto;
          line-height: unset;
          font-size: calc(var(--icon-size) * 0.8);
          transition: 0.05s;
          transform-origin: 50% 50%;
          pointer-events: auto;
          opacity: 1;

          &[class*="slash"] {
            opacity: 0.5;
          }

          &:hover {
            scale: 1.1;
            filter: brightness(1.5) saturate(1.5);
          }
        }
      }

      .sheet-root {
        overflow-y: scroll;
        max-height: 100%;

        .sheet-top {
          .sheet-title {
            width: 50%;
          }

          .scene-selection {
            label {
              font-family: var(--font-emphasis);
            }

            position: absolute;
            top: 12px;
            right: 0;
            left: unset;

            select {
              font-family: var(--font-emphasis);
              color: var(--blades-white-bright);
              background: var(--blades-black-dark);
              border: none;
              width: 200px;
              pointer-events: auto;
            }
          }
        }

        .tab-content {
          .tab {
            position: relative;
            transform-style: preserve-3d;

            .comp.tab-label {
              .create-clock-key-button {

              }

              .tab-title {

              }
            }

            .clock-key-control-flipper,
            .clock-control-flipper {
              position: relative;
              transform-style: preserve-3d;
              height: 30px;
              line-height: 30px;
              width: 100%;
              padding: 0px;
              display: flex;
              align-items: center;
              justify-content: stretch;

              .clock-key-input-name {
                font-family: var(--font-emphasis-narrow);
                padding-bottom: 3px;
              }

              > div {
                position: absolute;
                visibility: hidden;
                white-space: nowrap;
                box-shadow: inset 0 0 2px 2px var(--blades-black-dark);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: linear-gradient(45deg, var(--blades-grey-bright), var(--blades-grey-dark));
                font-size: 24px;
                box-shadow: inset 0 0 2px 2px var(--blades-black-dark);
                color: var(--blades-white-bright);

                height: 30px;
                line-height: 30px;
                width: 100%;
                padding: 0px 5px;
                border-radius: 5px;

                &.controls-back {
                  color: var(--blades-black);
                  background: linear-gradient(45deg, var(--blades-white-bright), var(--blades-grey-bright));

                  .button-icon, .toggle-icon {
                    text-shadow: none;
                  }
                }
              }

              .clock-control-segment-buttons {
                height: 100%;
                display: flex;
                align-items: center;
                margin: 0 5px;

                .button-icon {
                  margin: 0;
                }
              }

              &.clock-control-flipper {
                height: 20px;
                line-height: 20px;
                font-size: 16px;
                background: transparent;

                > div {
                  height: 20px;
                  line-height: 20px;
                  margin-left: 40px;
                  width: calc(100% - 40px);

                  input[type="text"],
                  select.clock-control-select {
                    height: 20px;
                    line-height: 20px;
                    font-size: 14px;
                  }

                  select.clock-control-select {
                    text-indent: 0;
                    min-width: 40px;
                    height: 16px;
                    line-height: 16px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    text-align: center;
                    font-weight: bold;
                    font-family: var(--font-emphasis);
                    margin: 0 5px;

                    option {
                      text-align: center;
                    }
                  }


                  .button-icon, .toggle-icon {
                    --icon-size: 15px;

                    &.clock-control-delete-clock {
                      color: var(--blades-red);
                      min-width: 20px;
                    }

                  }
                }
              }

              .clock-key-control-flipper + .clock-control-flipper .clock-control-panel .clock-control-delete-clock {
                opacity: 0;
                pointer-events: none;
              }
            }

            &.other-scene-keys {
              filter: grayscale(0.5) brightness(0.5);

              &, & * {
                pointer-events: none !important;

                a:not(.clock-control-drop-key),
                select,
                input {
                  pointer-events: auto !important;
                }
              }

              .clock-control-drop-key {
                pointer-events: none !important;
                filter: grayscale(1);

                .button-icon i {
                  pointer-events: none !important;
                }
              }

            }
          }
        }
      }

    }
  }


}