& {
  $heights: (40px, 30px);
  --sheet-top-height: #{calculate-sum($heights)};

  .sheet-root {
    overflow: visible;

    section {

      &.sheet-top {
        overflow: visible;
        grid-template-areas:
          "item-img title tier"
          "item-img subtitle tier";

        grid-template-rows: join($heights, (), $separator: space);
        height: calculate-sum($heights);

        .sheet-title {
          text-align: left;
          text-indent: 10px;
        }
        .sheet-subtitle {
          background: transparent;
          font-size: 18px;
          line-height: 24px;
          border: none;
          white-space: nowrap;
        }

        .comp-tier {
          margin-top: 10px;
        }
        .comp-scale {
          position: absolute;
          top: -4px;
          right: -100px;
          height: 78px;
          width: 100px;
          align-items: stretch;
          justify-content: flex-start;
          background: var(--blades-black);
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          border: 4px solid var(--blades-white);
          border-left: none;

          .filled-label {
            color: var(--blades-white);
            background: transparent;
          }

          .scale-number {
            height: 40px;
            width: 100%;
            font-family: var(--font-emphasis);
            color: var(--blades-gold);
            font-size: 40px;
            line-height: 40px;
          }

          .scale-example {
            height: 20px;
            line-height: 20px;
            font-style: italic;
            font-size: 14px;
            font-family: var(--font-emphasis-narrow);
            text-align: center;
            white-space: nowrap;
            width: 100%;
          }
        }
      }

      &.cohort-types, &.cohort-edges, &.cohort-flaws {
        .cohort-type-input, .cohort-edge-input, .cohort-flaw-input {
          background: var(--blades-black-dark);
          font-family: var(--font-emphasis);
          color: var(--blades-white-bright);
          margin: 0px 10px;
        }
        .cohort-edge-input {
          background: var(--blades-green-dark);
        }
        .cohort-flaw-input {
          background: var(--blades-red-dark);
        }
      }

      &.cohort-harm {
        justify-content: stretch;
        align-items: flex-start;
        height: 40px;

        .filled-label {
          height: 100%;
          line-height: 30px;
        }
        .harm-level {
          pointer-events: auto;
          flex-grow: 0.25;
          justify-content: stretch;
          background: var(--blades-red);
          height: 100%;

          > .flex-vertical {
            justify-content: flex-start;
            align-items: stretch;
            flex-grow: 1;
          }
          .harm-number {
            width: min-content;
            flex-grow: 0;
            font-size: 40px;
            line-height: 40px;
            padding: 0 5px;
            color: var(--blades-red);
            font-family: var(--font-emphasis);
            text-align: center;
            transition: 0.25s;
          }
          .harm-label, .harm-effect {
            display: none;
            text-indent: 5px;
          }
          .harm-label {
            font-family: var(--font-emphasis);
            text-transform: uppercase;
            color: var(--blades-white-bright);
            border-bottom: 2px solid var(--blades-white-bright);
            font-size: 14px;
            line-height: 16px;
            height: 16px;
          }
          .harm-effect {
            color: var(--blades-white-bright);
            font-weight: bold;
            text-indent: 20px;
            font-size: 16px;
            line-height: 26px;
            height: 22px;
          }
          &.harm-level-0 { display: none }
          &.active {
            display: flex;
            flex-grow: 2;
            background: linear-gradient(to right, var(--blades-red), var(--blades-red-dark), transparent);
            &.harm-level-0 { background: transparent }
            &.harm-level-4 { background: var(--blades-red) }
            ~ .harm-level {
              background: transparent;
              .harm-number { color: var(--blades-white) }
            }
            .harm-number {
              color: var(--blades-red-bright);
            }
            .harm-label, .harm-effect { display: inline }
          }
          &:hover .harm-number {
            color: var(--blades-gold-bright) !important;
          }
        }
      }
    }
  }

  &.cohort_gang {
    .sheet-root {
      section.sheet-top {
        grid-template-areas:
          "title title tier"
          "subtitle subtitle tier";
      }
    }
  }

}