& {
  min-width: 775px;
  min-height: 800px;

  .window-content {
    form {

      $heights: (55px 83px 52px 10px);
      --sheet-top-height: #{calculate-sum($heights)};
      // --sheet-mid-height: 0px;

      .sheet-root {
        > section {

          &.sheet-top {
            grid-template-areas:
              ". . title title title title title title playbook playbook playbook"
              ". . members members members members hunting-grounds hunting-grounds playbook playbook playbook "
              ". . reputation reputation preferred-op preferred-op hunting-grounds hunting-grounds . coins coins ";
            grid-template-rows: join($heights, (), $separator: space);

            .sheet-title {
              --sheet-title-font-size: 48px;
            }

            .comp-playbook {
              grid-area: playbook;
              top: -10px;
            }
            .comp-reputation { grid-area: reputation }
            .comp-preferred-op { grid-area: preferred-op }
            .comp-hunting-grounds { grid-area: hunting-grounds }
            .comp-coins {
              grid-area: coins;

              .dotline {
                flex-wrap: wrap;
                max-width: calc(var(--dotline-dot-size) * 8);
                gap: 5px 0;
              }
            }
            .members {
              grid-area: members;
              flex-wrap: nowrap;
              .comp-vertical.portrait-block {
                min-width: unset;
                &:last-child { margin-right: 20px }
                .comp-body {
                  .comp-title {
                    margin-top: -10px;
                  }
                }
              }
            }

            .comp-hunting-grounds {
              height: 100%;
              .comp-body {
                height: 100%;
                .comp-body-text {
                  display: block;
                  margin-top: 5px;
                  height: 95%;
                  min-height: 50px;
                  margin-bottom: -5px;
                  resize: none;
                  font-family: var(--font-primary);
                  font-size: 12px;
                  line-height: 13px;
                  text-align: center;
                  width: 200px;
                  background-color: var(--blades-black-dark);
                  border-radius: 5px;
                  padding: 5px;
                  box-shadow: inset 0 0 10px var(--blades-black);
                }
              }
            }
          }

          &.sheet-mid-bar {
            .comp-rep .comp-body {
              .dotline { --fill-color-full: var(--blades-gold-dark) }
              .dotline.locked { --fill-color-full: var(--blades-gold-bright) }
            }
            .comp-hold .comp-body { min-height: unset }
            .comp-heat .comp-body .dotline { --fill-color-full: var(--blades-red) }
            .comp-wanted .comp-body,
            .comp-tier .comp-body {
              min-height: unset;
              top: unset;

              .dotline {
                --dotline-dot-sizeY: #{toPixels(2.5rem)};
                --fill-color-full: var(--blades-red-bright);
                margin: 0;
                align-items: stretch;

                .dot {
                  height: 25px;

                  svg {
                    scale: 1.2 1;
                    margin-top: -2px;
                    pointer-events: none
                  }
                }
              }
            }
            .comp-wanted { flex-grow: 0 }
            // .comp-tier { margin-right: 5px }
          }

          &.tab-content {
            border: none;
          }
        }

        // .turf-list { @import "../components/turf-block" }
      }
    }
  }
}