& {

  --roll-spacing: 5px;

  height: auto !important;
  width: unset !important;

  overflow: visible;
  box-shadow: none;

  @keyframes anim-glow-gold {
    0% {
      box-shadow: 0 0 0px 0px var(--blades-gold-bright);
      background-color: var(--blades-gold-darkest);
    }

    10% {
      background-color: var(--blades-gold-bright)
    }

    100% {
      box-shadow: 0 0 20px 30px transparent;
      background-color: var(--blades-gold-darkest);
    }
  }

  @keyframes anim-glow-red {
    0% {
      box-shadow: 0 0 0px 0px var(--blades-red-bright);
      background-color: var(--blades-red-darkest);
    }

    10% {
      background-color: var(--blades-red-bright)
    }

    100% {
      box-shadow: 0 0 20px 30px transparent;
      background-color: var(--blades-red-darkest);
    }
  }

  @keyframes anim-glow-grey {
    0% {
      box-shadow: 0 0 0px 0px var(--blades-grey-bright);
      background-color: var(--blades-grey-dark);
    }

    10% {
      background-color: var(--blades-grey-bright)
    }

    100% {
      box-shadow: 0 0 20px 30px transparent;
      background-color: var(--blades-grey-dark);
    }
  }

  .roll-sheet-sub-block {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;

    &.roll-header-block {
      height: 24px;

      .filled-label {
        background: transparent;
        color: var(--blades-white);
        font-size: toRem(16px);
        line-height: 20px;
        height: 20px;
        margin: 0;
        padding: 0 4px;
        display: inline-block;
        width: 90px;
      }

      .roll-sheet-select,
      .roll-readonly {
        margin: 0;
        font-family: var(--font-emphasis);
        border-top: none;
        outline: none;
        box-shadow: none;
        text-shadow: none;
        color: var(--blades-grey);
        font-size: toRem(14px);
        // font-style: italic;
        // text-align: center;
        margin-left: 40px;
        display: inline-block;
        text-transform: uppercase;
        width: 110px;
        position: absolute;
        right: 155px;
        text-align: right;
        line-height: 20px;
        appearance: none;
      }

      .roll-dotline-block {
        display: inline-flex;
        margin-left: 5px;
        margin-top: -3px;

        .dotline {

          // margin-top: -2px;
          .dot.full-dot {
            filter: brightness(1.5) drop-shadow(0 0 2px var(--blades-black-dark));
            // filter: brightness(1.5) invert(1);
          }
        }
      }
    }

    &.roll-effects-block {
      width: 100%;
      margin: 0;
      padding: 0 5px 5px 5px;
      gap: 5px;
      flex-wrap: wrap;
      justify-content: flex-start;
      min-height: 20px;

      >.roll-mod-block-spacer {
        display: none;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0px;
        height: 16px;

        &.last-spacer {
          display: inline-flex;
          flex-grow: 0;
          flex-shrink: 0;
          width: 155px;
          height: 20px;
          margin-left: auto;
        }
      }

      &.inactive-mod-block {
        position: absolute;
        width: auto;
        max-width: 175px;
        margin: 0;
        right: calc(100% + 2*var(--roll-spacing, 5px) - 2px);
        background: rgb(24, 24, 24);
        top: 0px;
        padding: 2px 0 2px 5px;
        outline: 1px solid var(--blades-white);
        gap: 0;
        flex-wrap: wrap;
        align-items: flex-end;

        .roll-mod-container {

          &,
          & * {
            --roll-mod-height: 20px
          }

          display: inline-flex;
          flex-direction: row;
          align-items: center;
          background: transparent;
          box-shadow: none;
          height: var(--roll-mod-height);
          margin: 0;
          padding: 0;
          justify-content: flex-start;

          .roll-mod-icon {
            line-height: var(--roll-mod-height);
            white-space: nowrap;
          }

          .roll-mod-label {
            top: 0;
            margin: 0;
            padding: 0 0 0 calc(0.5 * var(--roll-mod-height));
            left: calc(-0.5 * var(--roll-mod-height));

            svg {
              display: block;
              margin-left: calc(-1 * var(--roll-mod-height));
            }

            .roll-mod-text {
              font-size: 10px;
              font-family: var(--font-emphasis-narrow);
              text-transform: uppercase;
              margin: 0 10px 0 0;
              color: var(--blades-white);
            }
          }

          &.status-forcedoff {
            .roll-mod-label {
              left: calc(-1.35 * var(--roll-mod-height));

              svg {
                opacity: 0
              }

              .roll-mod-text {
                color: var(--blades-grey);
              }
            }
          }

          &.status-hidden {
            .roll-mod-label {
              left: calc(-1.35 * var(--roll-mod-height));

              svg {
                opacity: 0
              }

              .roll-mod-text {
                color: var(--blades-grey);
                font-weight: normal;
                font-style: italic;
              }

            }
          }
        }


      }
    }

    .roll-mod-container {

      &, & * {
        /* General Styles */
        --roll-mod-height: 20px;
        --roll-mod-line-height: calc(1 * var(--roll-mod-height));

        --roll-mod-border-size: 1px;
        --roll-mod-border-style: none;
        --roll-mod-border-color: transparent;
        --roll-mod-border-radius: 0px;

        --roll-mod-bg-color: var(--blades-black-fade-strong);

        --roll-mod-font-color: var(--blades-white);
        --roll-mod-font-family: var(--font-emphasis);
        --roll-mod-font-size: calc(0.7 * var(--roll-mod-height));
        --roll-mod-font-variant: small-caps;
        --roll-mod-font-style: normal;
        --roll-mod-font-weight: normal;
        --roll-mod-text-transform: none;
        --roll-mod-text-indent: 10px;
        --roll-mod-text-shadow: var(--text-shadow-dark);

        // --roll-mod-sidestring-font-color: var(--roll-mod-font-color);
        --roll-mod-sidestring-font-family: var(--font-emphasis-narrow);
        // --roll-mod-sidestring-font-size: var(--roll-mod-font-size);
        // --roll-mod-sidestring-font-variant: var(--roll-mod-font-variant);
        // --roll-mod-sidestring-font-style: var(--roll-mod-font-style);
        --roll-mod-sidestring-font-weight: bold;
        --roll-mod-sidestring-text-transform: uppercase;
        --roll-mod-sidestring-text-indent: 5px;
        // --roll-mod-sidestring-text-shadow: var(--roll-mod-text-shadow);
      }

      height: var(--roll-mod-height);
      width: min-content;
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;

      border: var(--roll-mod-border-size) var(--roll-mod-border-style) var(--roll-mod-border-color);
      box-sizing: border-box;
      border-radius: var(--roll-mod-border-radius);

      background: var(--roll-mod-bg-color);

      &.posneg-negative, &.posneg-negative * {
        --roll-mod-bright-color: var(--blades-red-bright);
        --roll-mod-medium-color: var(--blades-red);
        --roll-mod-dark-color: var(--blades-red-dark);
      }

      &.posneg-positive, &.posneg-positive * {
        --roll-mod-bright-color: var(--blades-gold-bright);
        --roll-mod-medium-color: var(--blades-gold);
        --roll-mod-dark-color: var(--blades-gold-dark);
      }

      &.status-hidden, &.status-hidden * {
        --roll-mod-font-style: italic;
        --roll-mod-font-weight: normal;
        --roll-mod-text-transform: lowercase;
        // --roll-mod-font-variant: none;
        --roll-mod-font-size: smaller;
        --roll-mod-font-color: var(--roll-mod-medium-color);
        // --roll-mod-text-shadow: none;
        --roll-mod-bg-color: transparent;
        filter: brightness(0.86);
      }

      &.status-forcedoff, &.status-forcedoff * {

      }

      &.status-toggledoff, &.status-toggledoff * {
        --roll-mod-font-color: var(--roll-mod-medium-color);
        --roll-mod-border-color: var(--roll-mod-medium-color);
        --roll-mod-border-style: dotted;
        --roll-mod-border-radius: 5px;
      }

      &.status-toggledon, &.status-toggledon * {
        --roll-mod-font-color: var(--blades-white-bright);
        // --roll-mod-text-shadow: none;
        --roll-mod-border-color: var(--roll-mod-bright-color);
        --roll-mod-border-style: outset;
        --roll-mod-border-size: 2px;
        --roll-mod-border-radius: 5px;
        --roll-mod-bg-color: var(--roll-mod-medium-color);
      }

      &.status-forcedon, &.status-forcedon * {
        --roll-mod-font-color: var(--blades-white-bright);
        // --roll-mod-text-shadow: none;
        --roll-mod-border-color: var(--roll-mod-bright-color);
        --roll-mod-border-style: outset;
        --roll-mod-border-size: 2px;
        --roll-mod-border-radius: 0px;
        --roll-mod-bg-color: var(--roll-mod-medium-color);
      }

      .roll-mod-label {
        display: flex;
        width: min-content;
        overflow: hidden;
        position: relative;
        height: calc(var(--roll-mod-height) - 2 * var(--roll-mod-border-size));
        left: 0;
        white-space: nowrap;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        top: 0;
        margin: 0;
        padding: 0;

        .roll-mod-text {
          position: relative;
          white-space: nowrap;
          z-index: 1;
          display: block;

          color: var(--roll-mod-font-color);
          font: {
            family: var(--roll-mod-font-family);
            size: var(--roll-mod-font-size);
            variant: var(--roll-mod-font-variant);
            style: var(--roll-mod-font-style);
            weight: var(--roll-mod-font-weight);
          }
          text: {
            transform: var(--roll-mod-text-transform);
            indent: var(--roll-mod-text-indent);
            shadow: var(--roll-mod-text-shadow);
          }
          line-height: calc(var(--roll-mod-line-height) - 2 * var(--roll-mod-border-size));

          &.roll-mod-sidestring {
            color: var(--roll-mod-sidestring-font-color, var(--roll-mod-font-color));
            font: {
              family: var(--roll-mod-sidestring-font-family, var(--roll-mod-font-family));
              size: var(--roll-mod-sidestring-font-size, var(--roll-mod-font-size));
              variant: var(--roll-mod-sidestring-font-variant, var(--roll-mod-font-variant));
              style: var(--roll-mod-sidestring-font-style, var(--roll-mod-font-style));
              weight: var(--roll-mod-sidestring-font-weight, var(--roll-mod-font-weight));
            }
            text: {
              transform: var(--roll-mod-sidestring-text-transform, var(--roll-mod-text-transform));
              indent: var(--roll-mod-sidestring-text-indent, var(--roll-mod-text-indent));
              shadow: var(--roll-mod-sidestring-text-shadow, var(--roll-mod-text-shadow));
            }
            line-height: var(--roll-mod-sidestring-line-height, var(--roll-mod-line-height));
          }
        }
      }





    }



  }

  .roll-sheet-float-block {
    position: absolute;
    z-index: 3;

    &.rolling-dice-total-block {
      left: unset;
      right: 0px;
      height: 64px;
      width: 64px;
      border-radius: 32px;
      border: 2px solid var(--blades-white);
      background: var(--blades-grey);
      translate: 50% 0%;
      top: -2px;
      display: flex;
      justify-content: center;
      align-items: center;

      .dice-total {
        display: block;
        // position: absolute;
        font-size: 50px;
        margin-right: 10px;
        font-family: var(--font-emphasis);
        color: var(--blades-white-bright);
        padding-top: 5px;
        // margin: auto auto;
        // height: 100%;
        // width: 100%;
        // translate: 0% -50%;
        // top: 50%;
        // text-align: center;
        // padding-right: 15px;

      }

      .d-symbol {
        display: block;
        position: absolute;
        font-size: 20px;
        right: 7px;
        top: 10px;
        font-family: var(--font-emphasis);

        text-shadow:
          0 0 3px var(--blades-black),
          0 0 3px var(--blades-black),
          0 0 3px var(--blades-black),
          0 0 3px var(--blades-black);
      }
    }

    &.final-block {
      height: 24px;
      width: 150px;
      font-family: var(--font-emphasis);
      text-transform: uppercase;
      background: var(--final-block-background-color, var(--blades-grey));
      color: var(--final-block-text-color, var(--blades-white-bright));
      border: 2px solid var(--final-block-border-color, var(--blades-white));
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      right: 0;
      top: -2px;
      box-sizing: content-box;


      &.position-final-block {
        &.position-desperate {
          --final-block-text-color: var(--blades-red-bright);
          --final-block-background-color: var(--blades-red-dark-fade);
          --final-block-border-color: var(--blades-red);
        }

        &.position-controlled {
          --final-block-text-color: var(--blades-blue-bright);
          --final-block-background-color: var(--blades-blue-dark-fade);
          --final-block-border-color: var(--blades-blue);
        }
      }

      &.effect-final-block {
        &.effect-zero {
          --final-block-text-color: var(--blades-red-dark);
          --final-block-background-color: transparent;
          --final-block-border-color: transparent;
        }

        &.effect-limited {
          --final-block-text-color: var(--blades-red-bright);
          --final-block-background-color: var(--blades-red-dark-fade);
          --final-block-border-color: var(--blades-red);
        }

        &.effect-great {
          --final-block-text-color: var(--blades-blue-bright);
          --final-block-background-color: var(--blades-blue-dark-fade);
          --final-block-border-color: var(--blades-blue);
        }

        &.effect-extreme {
          --final-block-text-color: var(--blades-white-bright);
          --final-block-background-color: var(--blades-gold-dark);
          --final-block-border-color: var(--blades-gold-bright);
        }
      }

      &.result-final-block {
        width: 180px;
        // right: -15px;
      }
    }

    .pos-effect-trade-block {
      width: min-content;
      position: absolute;
      color: var(--blades-grey-bright);

      &:hover {
        color: var(--blades-gold)
      }
    }

    &.position-final-block .pos-effect-trade-block {
      left: 5px;
      top: 26px;
      text-shadow:
        0 0 3px var(--blades-black-dark),
        0 0 3px var(--blades-black-dark),
        0 0 3px var(--blades-black-dark),
        0 0 3px var(--blades-black-dark);

      .fa-light {
        scale: 0.8
      }
    }

    &.effect-final-block .pos-effect-trade-block {
      right: 5px;
      top: -24px;
      text-shadow:
        0 0 3px var(--blades-black-dark),
        0 0 3px var(--blades-black-dark),
        0 0 3px var(--blades-black-dark),
        0 0 3px var(--blades-black-dark);

      .fa-light {
        scale: 0.8
      }
    }
  }

  &.gm-roll-collab {

    .gm-input-popup-icon {
      min-width: 25px !important;
      min-height: 25px !important;
      border-radius: 5px !important;
      pointer-events: auto !important;
      background: rgba(0, 255, 0, 0.5);
    }

    .window-content form {

      &.roll-type-action {
        --full-roll-width: 775px;
      }

      &.roll-type-resistance {
        --full-roll-width: 550px;
      }

      .sheet-root {

        .roll-sheet-block {

          .roll-sheet-sub-block {
            &.roll-effects-block:not(.inactive-mod-block) {
              width: 85% !important;
            }

            .roll-mod-container {
              min-width: 120px;

              &.roll-mod-teamwork {
                .roll-mod-label {
                  .roll-mod-sidestring {
                    min-width: 75px;
                  }
                }
              }

              .roll-mod-label {

                .roll-select-container {
                  min-width: 120px;
                  max-height: 16px;
                  border-radius: 8px;
                  margin-left: -85px;
                  margin-right: -50px;
                  background: var(--blades-black-dark);

                  .roll-select {
                    .roll-sheet-select-doc {
                      pointer-events: auto !important;
                      appearance: none;
                      width: 85px;
                      color: transparent;
                      text-shadow: none;
                      margin-left: -10px;

                    }
                  }
                }
              }
            }

            .roll-mod-block-spacer {
              display: none !important
            }

            .position-controls-container,
            .effect-controls-container {
              height: 24px;
              min-height: 24px;
              // background: magenta;
              right: 160px;
              left: unset;
              min-width: unset;
              margin-top: -2px;
              position: absolute;

              .roll-mod-gm-control {
                height: 24px;
                width: 24px;
                line-height: 24px;
                font-size: 0;
                display: inline-block;
                pointer-events: auto !important;
                cursor: pointer;
                scale: 0.5;

                background: var(--gm-control-background);
                outline: 2px solid var(--gm-control-border);

                &.active {
                  filter: brightness(1.2) drop-shadow(0 0 3px var(--gm-control-border, var(--blades-white-bright)));
                  scale: 0.7;
                }

                &:hover {
                  filter: brightness(1.2) drop-shadow(0px 0px 10px var(--gm-control-border, var(--blades-white-bright)));
                  scale: 1;
                }

                &.gm-control-effect-zero {
                  --gm-control-border: var(--blades-red-dark);
                  --gm-control-background: transparent;
                }

                &.gm-control-effect-limited,
                &.gm-control-position-desperate {
                  --gm-control-border: var(--blades-red-bright);
                  --gm-control-background: var(--blades-red-dark);
                }

                &.gm-control-effect-standard,
                &.gm-control-position-risky {
                  --gm-control-border: var(--blades-grey-bright);
                  --gm-control-background: var(--blades-grey-dark);
                }

                &.gm-control-effect-great,
                &.gm-control-position-controlled {
                  --gm-control-border: var(--blades-blue-bright);
                  --gm-control-background: var(--blades-blue-dark);
                }

                &.gm-control-effect-extreme {
                  --gm-control-border: var(--blades-gold-bright);
                  --gm-control-background: var(--blades-gold-dark);
                }
              }
            }

            &.inactive-mod-block {
              .roll-mod-container {
                min-width: unset;

                .roll-mod-label .roll-mod-text {
                  text-shadow: none;
                }

                .comp.controls-container {
                  --menu-size: 16px;
                  right: 0px;
                }
              }
            }
          }
        }

        .full-root {
          min-width: 100%;
          max-width: 100%;

          * {
            pointer-events: none
          }
        }

        .split-root {
          min-width: 100%;
          max-width: 100%;

          .split-root-left {
            min-width: 50%;
            max-width: 50%;

            * {
              pointer-events: none
            }
          }

          .split-root-right {
            pointer-events: auto;
            min-width: 50%;
            max-width: 50%;

            .sheet-main {
              right: 6px;
              flex-basis: auto;

              &.roll-consequences {
                min-height: 330px;
                h3 { margin-bottom: 10px; }
              }

              &.factor-controls {
                min-height: 112px;
                place-self: stretch flex-end;
              }
            }
          }
        }
      }
    }
  }

  .window-header {
    opacity: 0;
    top: -45px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    transition: 0.25s;
    padding: 0 5px;

    &:hover {
      opacity: 1
    }
  }

  .window-content {
    border-radius: 30px;
    box-shadow: 25px 25px 15px var(--blades-black-dark-fade);
    border: 3px outset var(--blades-white);
    background: var(--blades-black-dark);
    // overflow: hidden;

    form {

      min-width: var(--full-roll-width, 550px);
      max-width: var(--full-roll-width, 550px);
      // Awesome Fire Shader ---  https://codepen.io/eunomiac/pen/OJQeMPr?editors=1010
      // Great Nav Tabs --- https://codepen.io/abdelRhman345/pen/PXMmdv
      // Single Flame Shader --- https://codepen.io/osublake/pen/pqNXoq
      // Great toggle switches --- https://codepen.io/eunomiac/pen/GRNwKmO
      // Simple toggle switches --- https://codepen.io/thelaazyguy/pen/VzedOm
      // Awesome toggle switch --- https://codepen.io/cl0udc0ntr0l/pen/njQQbw
      // Accordian Data Display for Desc/Notes/Rules/etc? --- https://codepen.io/eunomiac/pen/oNYQNPP
      // SUPER easy pulse glow light ---https://codepen.io/raulghm/pen/EjdwoO
      // hover glow buttons --- https://codepen.io/Stockin/pen/XPvpoB
      // Popup radial tiny menu --- https://codepen.io/iremlopsum/pen/Qjoxmv


      &.roll-type-action {
        // min-width: 775px;
        // max-width: 775px;
      }

      &.roll-type-resistance {
      --root-height: 200px;
      --icon-size: 150px;

        .sheet-root {
          border-radius: 30px;

          .roll-sheet-float-block.rolling-dice-total-block {
            // top: 20px;
            right: 25px;
          }

          .roll-sheet-block.rolling-block {
            border: none;
          }

          .sheet-header {
            top: unset;
            align-items: center;
            padding: 0 10px;
            border: none;
            // overflow: hidden;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;

            position: relative;
            overflow: visible;
            justify-content: center;
            z-index: 4;
            gap: 10px;

            .source-name.shadowed {
              flex-basis: unset;
              flex-grow: 0;
            }
            .shadowed.vs {
              text-transform: none;
              text-align: right;
            }

            .consequence-box {
              width: unset;
              flex-basis: 40%;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;

              .consequence-name {
                font-size: toRem(16px);
                padding: 0px;
                margin: 3px 5px -3px 0;
                text-align: right;
              }
              .consequence-label {
                min-width: 150px;
                text-transform: none;
              }
            }
          }

          .roll-sheet-block.consequence-block {
            align-items: center;
            justify-content: space-between;
            border: none;
            padding-top: 5px;
          }

          .split-root.flex-horizontal {
            height: var(--root-height);

            .split-root-left {
              flex-basis: 55%;

              .sheet-main {

                .roll-sheet-float-block.rolling-dice-total-block {
                  position: absolute;
                  right: -25px;
                  top: calc(var(--root-height) * 0.2);
                }
              }
            }

            .split-root-right {
              flex-basis: 45%;
              --header-height: 32px;
              position: relative;
              top: calc(-1 * (var(--header-height) + var(--roll-spacing)));
              left: var(--roll-spacing);
              height: calc(var(--root-height) + var(--header-height) + var(--roll-spacing));
              flex-shrink: 0;
              border-top-right-radius: 30px;
              overflow: hidden;

              .sheet-main {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 5px;

              }

              .consequence-box {
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: flex-end;
                align-items: flex-end;
                left: 0;
                width: 100%;

                .consequence-icon-img {
                  position: absolute;
                  height: var(--icon-size);
                  width: var(--icon-size);
                  background: transparent;
                  border-radius: calc(0.5 * var(--icon-size));
                  filter: blur(5px);
                  z-index: -1;
                }

                .consequence-name {
                  font-size: 18px;
                  text-align: right;
                  font-family: var(--font-emphasis);
                  text-transform: uppercase;
                  color: var(--consequence-text-color);
                  text-shadow: var(--text-shadow-dark-strong);
                  width: 100%;
                }
                .consequence-label {
                  background: var(--consequence-bg-color);
                  font-family: var(--font-decorative);
                  font-style: italic;
                  font-size: 1.25rem;
                  line-height: 1.25rem;
                  color: var(--blades-white-bright);
                  text-shadow: var(--text-shadow-dark-strong);
                  border: 2px outset var(--consequence-border-color);
                  width: 100%;
                  text-align: center;
                  padding-top: 5px;
                }
                .consequence-type-label {
                  font-size: 24px;
                  color: var(--blades-red-bright);
                  font-family: var(--font-emphasis-narrow);
                  white-space: nowrap;
                  text-align: right;
                  text-transform: uppercase;
                  text-shadow: var(--text-shadow-dark-strong);
                }

                &.consequence-top {
                  top: 25px;

                  .consequence-icon-img {
                    top: calc(-0.25 * var(--icon-size));
                    // left: 0; // calc(1 * var(--icon-size));
                    right: calc(-0.25 * var(--icon-size));
                  }
                }

                &.consequence-bottom {
                  top: unset;
                  bottom: 0;

                  .consequence-icon-img {
                    top: unset;
                    bottom: calc(-0.25 * var(--icon-size));
                    left: unset;
                    right: calc(-0.25 * var(--icon-size));
                  }

                  .consequence-type-label {
                    color: var(--blades-gold-bright);
                  }
                }
              }

              .consequence-triangle {
                position: absolute;
                top: 50%;
                right: 10px;
              }
            }

          }

          .consequence-box {

            &.consequence-strong {
              --consequence-bg-color: var(--blades-red-dark);
              --consequence-border-color: var(--blades-red-bright);
              --consequence-text-color: var(--blades-red-bright);
            }

            &.consequence-resisted {
              --consequence-bg-color: var(--blades-red-darkest);
              --consequence-border-color: var(--blades-red);
              --consequence-text-color: var(--blades-red);
            }

            .consequence-name {
            }


          }

          section.sheet-footer {

            .roll-sheet-float-block.roll-button {
              .roll-odds-strip {
                .roll-odds-section-container {
                  filter: blur(10px);
                }
              }
            }
          }
        }
      }

      &.roll-type-fortune {
        .sheet-root {

          .sheet-header {
            padding: 0;
            align-items: center;
            height: auto;
            max-height: unset;
            border: none;

            .roll-prompt.shadowed {
              height: auto;
              max-height: unset;
              max-width: 80%;
              white-space: wrap;
              font-family: var(--font-primary);
              text-align: center;
              font-size: 20px;
              line-height: 20px;
              margin: 10px 0px 5px 0px;
              text-transform: none;
              font-style: italic;
              overflow: visible;
            }
          }

          .sheet-main, .sheet-main > * {
            border: none;
          }

        .shadowed.source-name { white-space: nowrap; }


        .dotline .dot.full-dot {
          border-radius: 7px;
          background: var(--blades-white);
        }
      }
      }

      .sheet-root {
        overflow: visible;

        >section {
          z-index: 5
        }

        .sheet-topper {
          position: absolute;
          width: 100%;
          height: toRem(23px);
          display: block;
          border: none;
          top: 0;
          left: 0;

          &.roll-type {
            top: -26px;
            padding: 0 30%;
            background: linear-gradient(to right, transparent 15%, var(--roll-type-header-bg-color) 35%, var(--roll-type-header-bg-color) 65%, transparent 85%);

            &.roll-type-action {
              --roll-type-header-color: var(--blades-white-bright);
              --roll-type-header-bg-color: var(--blades-grey);
              --roll-type-header-underline-color: var(--blades-white-bright);
              --roll-type-header-shadow-color: var(--blades-black-dark);
            }

            &.roll-type-resistance {
              --roll-type-header-color: var(--blades-white-bright);
              --roll-type-header-bg-color: var(--blades-red-dark);
              --roll-type-header-underline-color: var(--blades-red-bright);
              --roll-type-header-shadow-color: var(--blades-red-dark);
            }

            &.roll-type-downtime {
              --roll-type-header-color: var(--blades-gold-bright);
              --roll-type-header-bg-color: var(--blades-gold-dark);
              --roll-type-header-underline-color: var(--blades-gold-bright);
              --roll-type-header-shadow-color: var(--blades-black-dark);
            }

            &.roll-type-fortune {
              --roll-type-header-color: var(--blades-blue-bright);
              --roll-type-header-bg-color: var(--blades-blue-dark);
              --roll-type-header-underline-color: var(--blades-blue-bright);
              --roll-type-header-shadow-color: var(--blades-blue-dark);
            }

            .roll-type-header {
              font-family: var(--font-emphasis);
              font-size: toRem(20px);
              line-height: toRem(20px);
              color: var(--roll-type-header-color);
              text-transform: uppercase;
              margin-top: 3px;
              text-align: center;
              // border-bottom: 1px solid var(--roll-type-header-underline-color, var(--blades-white-bright));
              text-shadow:
                0px 0px 3px var(--roll-type-header-shadow-color),
                0px 0px 3px var(--roll-type-header-shadow-color),
                0px 0px 3px var(--roll-type-header-shadow-color),
                0px 0px 3px var(--roll-type-header-shadow-color);
            }
          }

          &.roll-factors {

            .factors-block {
              position: absolute;
              justify-content: space-between;

              .roll-factor.roll-factor-primary {
                order: 1;
                position: relative;
                padding: 5px 40px 5px 10px;
                border: 4px outset var(--blades-grey);
                background: var(--blades-grey-bright);
                margin: 0px;

                .roll-factor-label {
                  color: var(--blades-white-bright);
                }

                &.roll-factor-tier {
                  .roll-factor-value {
                    scale: .5 1;
                    right: -10px;
                  }
                }

                .roll-factor-value {
                  font-family: var(--font-default);
                  color: var(--blades-gold-bright);
                  font-size: 70px;
                  line-height: 30px;
                  min-width: 80px;
                  pointer-events: none;
                  position: absolute;
                  right: -25px;
                  text-align: center;
                  text-shadow:
                    0 0 5px var(--blades-black-dark),
                    0 0 5px var(--blades-black-dark),
                    0 0 5px var(--blades-black-dark),
                    0 0 5px var(--blades-black-dark),
                    0 0 2px var(--blades-white-bright),
                    0 0 2px var(--blades-white-bright),
                    0 0 2px var(--blades-white-bright),
                    0 0 2px var(--blades-white-bright),
                    0 0 2px var(--blades-white-bright);
                  transform-origin: 100% 50%;
                }

                &.roll-factor-source {
                  translate: -100% -5px;
                  right: -20px;
                }

                &.roll-factor-opposition {
                  translate: 100% -5px;
                  left: -70px;
                }
              }
            }
          }
        }

        .factors-block {
          gap: 0 10px;

          .roll-factor {
            gap: 0 5px;
            align-items: baseline;

            .roll-factor-label {
              font-family: var(--font-emphasis);
              text-transform: uppercase;
            }

            .roll-factor-value {
              font-weight: bold;

            }

            &:not(.roll-factor-primary) {
              margin: 0;

              .roll-factor-label {
                font-size: 12px;
              }

              .roll-factor-value {
                font-size: 16px;
                line-height: 9px;
                color: var(--blades-gold-bright);
              }

              &.roll-factor-tier {
                .roll-factor-value {
                  font-size: 14px;
                  line-height: 10px;
                }
              }
            }
          }

          &.flex-vertical {
            position: relative;
            top: -10px;
            right: 0px;
            align-items: flex-end;
            transform-origin: 100% 0;
            // scale: 0.75;
            padding: 0 10px 0 5px;
            overflow: visible;
            border: none;
          }

          &.flex-horizontal {
            justify-content: flex-end;
            width: 100%;

            .roll-factor {
              margin-top: -25px;
            }
          }

          &.roll-opp-factors {
            .roll-factor {

              .roll-factor-value {
                color: var(--opp-factor-color, var(--blades-gold-bright));
              }

              &.roll-factor-tier {
                .roll-factor-value {
                  margin-right: -7px;
                }
              }
            }


            &.roll-opp-type-cohort_expert,
            &.roll-opp-type-npc {
              --opp-factor-color: var(--blades-red-bright)
            }

            &.roll-opp-type-faction {
              --opp-factor-color: #bd6dff
            }

            &.roll-opp-type-location {
              --opp-factor-color: #dbe7fd
            }

            &.roll-opp-type-ritual {
              --opp-factor-color: #bd6dff
            }

            &.roll-opp-type-project,
            &.roll-opp-type-design {
              --opp-factor-color: #ffdcc0
            }

            &.roll-opp-type-cohort_gang {
              --opp-factor-color: var(--blades-red-bright)
            }
          }

        }

        .sheet-header {
          border: none;
          height: 32px;
          left: 0px;
          top: -3px;
          width: 100%;
          align-items: flex-end;
          justify-content: space-around;
          overflow: visible;
          flex-wrap: nowrap;
          white-space: nowrap;
          padding-left: 30px;

          >* {
            flex-grow: 1;
            flex-shrink: 1;
            font-size: 1.5rem;
            font-family: var(--font-emphasis);
            text-shadow:
              0px 0px 5px var(--blades-black-dark),
              0px 0px 5px var(--blades-black-dark),
              0px 0px 5px var(--blades-black-dark),
              0px 0px 5px var(--blades-black-dark);
            text-transform: uppercase;
          }

          .source-name {
            color: var(--source-name-color, var(--blades-white-bright));
            text-align: right;

            &.source-name-type-pc {
              --source-name-color: var(--blades-gold-bright)
            }
          }

          .vs {
            flex-grow: 0;
            color: var(--blades-white-bright);
            text-transform: lowercase;
            flex-basis: 40px;
            text-align: center;
          }

          .opp-name {
            color: var(--opp-name-color, var(--blades-white-bright));
            transform-origin: 0% 50%;
            scale: 0.75 1;

            &.opp-name-type-cohort_expert,
            &.opp-name-type-npc {
              --opp-name-color: var(--blades-red-bright)
            }

            &.opp-name-type-faction {
              --opp-name-color: #bd6dff
            }

            &.opp-name-type-location {
              --opp-name-color: #dbe7fd
            }

            &.opp-name-type-ritual {
              --opp-name-color: #bd6dff
            }

            &.opp-name-type-project,
            &.opp-name-type-design {
              --opp-name-color: #ffdcc0
            }

            &.opp-name-type-cohort_gang {
              --opp-name-color: var(--blades-red-bright)
            }
          }


        }

        .sheet-subheader {
          height: 10px;
          border: none;
          padding: 0 0 0 30px;
          margin-top: -2px;
          margin-bottom: 2px;
          position: relative;

          .factors-block.flex-horizontal {
            height: 10px;
            justify-content: flex-start;

            .roll-factor {
              margin: 0;

              .roll-factor-label {
                font-size: 12px;
              }

              .roll-factor-value {
                font-size: 16px;
                line-height: 9px;
                color: var(--blades-gold-bright);
              }

              &.roll-factor-tier {
                .roll-factor-value {
                  font-size: 14px;
                  line-height: 10px;
                }
              }
            }
          }
        }

        .roll-sheet-block {
          border-top: 2px solid var(--blades-white-bright);
          // padding: 0px 0px 5px 0px;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          gap: 5px 5px;

          &.roll-participants-block { border: none }


          &.rolling-block {
            min-height: 62px;

            .roll-sheet-sub-block.roll-header-block {
              margin-top: -2px;

              .roll-sheet-select,
              .roll-readonly {
                background: var(--blades-white-bright);
                color: var(--blades-black);
                border: none;
                text-align: center;
                font-size: toRem(18px);
                font-style: normal;
                margin-left: 0;
                position: unset;
                left: unset;
                right: unset;
                height: 20px;

                &.roll-sheet-select {
                  text-align: right;
                  padding-right: 15px;
                }
              }
            }

            .roll-effects-block:not(.inactive-mod-block) {
              width: 95% !important;
            }
          }

          .roll-sheet-sub-block {
            &.roll-effects-block:not(.inactive-mod-block) {
              width: 550px;
            }
          }
        }

        .split-root,
        .full-root {
          align-items: stretch;
          position: static;

          gap: var(--roll-spacing, 5px);;
          padding: var(--roll-spacing, 5px);

          .split-root-left,
          .split-root-right,
          .full-root-container {
            overflow: visible;
            position: relative;
            z-index: 5;

            &.split-root-left {
              flex-basis: 80%;
              max-width: 80%;
              // max-width: 370px;
            }

            &.split-root-right {
              flex-basis: 15%;
              display: flex;
              align-items: stretch;
              justify-content: space-between;
              flex-direction: column;
              z-index: 4;

              section.sheet-main {
                // flex-grow: 1;
                z-index: 0;
                overflow: hidden;

                &.roll-opp-block {
                  min-height: 60px;
                  flex-basis: 60px;
                  position: relative;
                  overflow: visible;
                }
              }

              section.sheet-main.factor-controls {

                --spread-size: 14px;
                justify-content: flex-end;
                // position: absolute;
                bottom: 0;
                right: 20px;

                .factor-control-row {
                  align-items: flex-start;

                  .factor-toggle,
                  .roll-num-container.factor-spacer {
                    height: var(--spread-size, 30px);
                    width: var(--spread-size, 30px);
                    font-family: var(--font-emphasis-narrow);
                    font-size: 10px;
                    line-height: calc(var(--spread-size, 30px) - 2px);
                    border: 1px var(--roll-factor-inactive-border-style, solid) var(--roll-factor-inactive-border);
                    color: var(--roll-factor-inactive-color);
                    text-align: center;
                    border-radius: calc(var(--spread-size, 30px) * 0.5);
                    background: var(--roll-factor-inactive-bg);

                    &.toggle-active {
                      background: var(--roll-factor-active-bg);
                      border-color: var(--roll-factor-active-border);
                      border-style: solid;
                      color: var(--roll-factor-active-color);
                    }

                    &.factor-toggle-isActive {
                      --roll-factor-inactive-bg: transparent;
                      --roll-factor-active-bg: var(--blades-green-bright);

                      --roll-factor-inactive-border: var(--blades-red-bright);
                      --roll-factor-inactive-border-style: dotted;
                      --roll-factor-active-border: var(--blades-green-dark);

                      --roll-factor-inactive-color: var(--blades-red-bright);
                      --roll-factor-active-color: var(--blades-black-dark);

                      // &:not(.toggle-active) ~ * { filter: brightness(0.25) }
                    }

                    &.factor-toggle-isPrimary {
                      --roll-factor-inactive-bg: transparent;
                      --roll-factor-active-bg: var(--blades-gold-bright);

                      --roll-factor-inactive-border: var(--blades-grey-dark);
                      --roll-factor-active-border: var(--blades-gold-dark);

                      --roll-factor-inactive-color: var(--blades-grey-bright);
                      --roll-factor-active-color: var(--blades-black-dark);
                    }


                  }

                  .roll-num-container.factor-spacer {
                    width: calc(var(--spread-size, 30px) * 0.5);
                    border: none;

                    &.toggle-active {
                      background: var(--blades-green-dark);
                      border: none
                    }

                  }

                }
              }
            }

          }



          section.sheet-main {
            justify-content: flex-start;
            align-items: stretch;
            height: auto;
            overflow: visible;
          }

          .roll-source-bg-img,
          .roll-source-bg-overlay,
          .roll-opp-bg-img,
          .roll-opp-bg-overlay {
            position: absolute;
            top: 0px;
            height: 100%;
            width: 50%;
            overflow: hidden;
            // z-index: -1;

            img {
              height: 100%;
              opacity: 0.8;
              translate: -50% -50%;
              top: 50%;
              left: 50%;
              position: absolute;
              transform-origin: 50% 50%;
            }

            &.roll-source-bg-img,
            &.roll-source-bg-overlay {
              // left: -2px;
              border-top-left-radius: 30px;
              border-bottom-left-radius: 30px;

              img {
                filter: blur(2px) brightness(1);
                scale: 1.5;
                top: calc(50% - 40px);
                left: 25%;
              }

              &.roll-source-bg-overlay {
                background: linear-gradient(to right, transparent, var(--blades-black-dark) 80%);
                width: 50%;
                top: 0;
                left: 0;
              }
            }

            &.roll-opp-bg-img,
            &.roll-opp-bg-overlay {
              top: -2px;
              right: -2px;
              border-top-right-radius: 30px;
              border-bottom-right-radius: 30px;

              img {
                right: -30px;
                filter: blur(3px) brightness(0.8);
              }

              &.roll-opp-bg-overlay {
                background: linear-gradient(to left, transparent, var(--blades-black-dark) 80%);
                width: 50%;
                top: 0;
                right: 0;
              }
            }


          }
        }

        section.sheet-footer {
          height: 30px;
          position: relative;
          display: flex;

          .roll-sheet-block {
            height: 30px;
            width: 100%;
          }

          .roll-sheet-sub-block.roll-effects-block.inactive-mod-block {
            padding-right: 40px;
            margin-right: -40px;
            z-index: -2;
          }

          .roll-sheet-float-block {

            &.roll-effects-block {
              z-index: 4;
              position: absolute;
              pointer-events: none;
              margin-top: 20px;
              flex-direction: column;
              width: unset;
              align-items: flex-start;
              gap: 0;
            }

            &.roll-button {
              position: absolute;
              width: 100%;
              left: 0;
              top: 0;

              .roll-odds-strip {
                height: 28px;
                width: 100%;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                overflow: hidden;
                position: relative;

                .roll-odds-section-container {
                  height: 500%;
                  width: 100%;
                  position: absolute;
                  z-index: 5;

                  display: flex;
                  justify-content: stretch;
                  align-items: stretch;
                  flex-wrap: nowrap;

                  filter: blur(50px);

                  >* {
                    flex-grow: 1;
                    flex-shrink: 1;
                  }

                }
              }

              .roll-odds-label-container {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 28px;
                color: var(--blades-gold-dark);
                font-family: var(--font-emphasis);
                font-size: 18px;
                text-shadow: 1.5px 1.5px 0px var(--blades-black-dark);
                z-index: 5;
              }

              .roll-button {
                display: block;
                padding: 0;
                height: 50px;
                width: 120px;
                position: absolute;
                translate: -50% -50%;
                top: 100%;
                left: 50%;
                border-radius: 20px;
                border: 4px outset var(--blades-white);
                background: var(--blades-white-bright);
                color: var(--blades-black-dark);
                font-family: var(--font-emphasis);
                font-size: 32px;
                line-height: 36px;
                transform-origin: 50% 50%;
                transition: 0.25s;
                filter: drop-shadow(3px 3px 5px var(--blades-black));
                opacity: 1;
                z-index: 5;

                &:hover {
                  scale: 1.2;
                  color: var(--blades-gold-bright);
                  text-shadow:
                    0 0 2px var(--blades-black-dark),
                    0 0 2px var(--blades-black-dark),
                    0 0 2px var(--blades-black-dark),
                    0 0 2px var(--blades-black-dark);
                }

                &.roll-readonly {
                  height: 40px;
                  width: 100px;
                  pointer-events: none;
                  border-color: var(--blades-grey);
                  border-style: inset;
                  background: var(--blades-grey-bright);
                  color: var(--blades-grey);
                  font-size: 24px;
                  box-shadow:
                    inset 3px 3px 5px var(--blades-black),
                    inset -3px -3px 5px var(--blades-white-bright);
                  filter: brightness(0.5);
                  scale: 0.75;
                  opacity: 0.75;
                }
              }

            }

            &.roll-stress-block {
              position: absolute;
              translate: -50% 100%;
              left: 50%;
              top: 50%;
              font-family: var(--font-emphasis);
              color: var(--blades-white);
              text-shadow:
                0 0 4px var(--blades-black-dark),
                0 0 4px var(--blades-black-dark),
                0 0 4px var(--blades-black-dark),
                0 0 4px var(--blades-black-dark);
              white-space: nowrap;

              &.gm-ready {
                bottom: -50px
              }

              .gold-bright, .gold-bright * {
                color: var(--blades-gold-bright) !important;
              }

              .red-bright, .red-bright * {
                color: var(--blades-red-bright) !important;
              }

              .cyan-bright, .cyan-bright * {
                color: var(--blades-blue-bright) !important;
              }
            }
          }
        }

        .roll-num-container {
          height: var(--spread-size, 30px);
          width: calc(var(--spread-count, 7) * var(--spread-size, 30px));
          position: relative;
          margin-bottom: 14px;

          .num-spread-label {
            position: absolute;
            font-family: var(--font-emphasis-narrow);
            font-size: 10px;
            // transform: -50% 0%;
            left: 0%;
            top: calc(100% + 1px);
            text-transform: uppercase;
          }

          .roll-num-spread {
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;

            >* {
              height: 100%;
              width: var(--spread-size, 30px);
              flex-grow: 0;
              flex-shrink: 0;
              border: 1px solid var(--spread-color, var(--blades-white));
              font-family: var(--font-emphasis);
              font-size: 6px;
              line-height: calc(0.9 * var(--spread-size, 30px));
              color: var(--spread-color, var(--blades-white));
              text-align: center;

              &:hover {
                filter: brightness(0.8);
                opacity: 0.8
              }
            }

            [data-active="true"] {
              color: var(--spread-puck-color, var(--blades-black-dark));
              text-shadow: none;
              font-weight: bold;
              transform-origin: 50% 50%;
              background: var(--spread-puck-color, var(--blades-white-bright));
            }

            [data-active="true"]~* {
              background: var(--spread-neg-fade, var(--blades-red-dark))
            }

            .origin-box~* {
              background: var(--spread-pos-fade, var(--blades-green-dark))
            }

            [data-active="true"]~.origin-box~* {
              background: transparent
            }

            .origin-box~[data-active="true"]~* {
              background: transparent
            }

            .origin-box {
              background: var(--spread-center-fade, var(--blades-gold-dark))
            }

            .origin-box[data-active="true"]~* {
              background: transparent
            }


          }
        }
      }
    }
  }
}