& {
  // height: min-content !important;
  // min-height: 900px;
  // max-height: 1200px;

  width: 1600px !important;
  height: 900px !important;

  &.minimized { width: unset !important }
  min-width: unset;
  max-width: unset;
  min-height: unset;
  max-height: unset;

  // .window-resizable-handle { display: block }

  .window-content {


    form {
      max-height: unset;
      // $heights: 60px;
      // --sheet-top-height: #{calculate-sum(($heights))};
      // --sheet-mid-height: 0px;

      // .controls-header {
      //   height: 15px;
      //   width: 100%;
      //   background: var(--blades-grey);
      // }

      .sheet-root {
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        .sheet-top {
          grid-template-areas: "controls-left title tier controls-right";
          grid-template-columns: 30px 1fr 60px 30px;
          grid-template-rows: 30px;
          height: 30px;
          flex-grow: 0;
          align-items: stretch;
          background: var(--blades-black-dark);

          .controls-panel {
            grid-area: controls-left;
            // background: var(--blades-black-dark);
            position: relative;
            &:last-child {
              grid-area: controls-right;
              // background: var(--blades-blue-dark);
            }

            .toggle-icon {
              pointer-events: auto;
              right: unset;
              translate: -50% -50%;
              left: 50%;
              top: 50%;
            }

          }

          .sheet-title.shadowed {
            --sheet-title-font-size: 1rem;
          }

        }

        .three-columns {
          display: flex;
          flex-direction: row;
          justify-content: stretch;
          align-items: stretch;
          flex-grow: 1;
          flex-shrink: 1;
          // height: 100%;
          // width: 100%;

          .column {
            flex-basis: 34%;
            flex-grow: 1;
            flex-shrink: 1;

            > * {
              flex-grow: 0;
              flex-shrink: 1;
            }
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: stretch;

            &.player-character-summary-column {
              justify-content: stretch;
              > * { flex-grow: 1; flex-shrink: 1; flex-basis: 10% }
            }


          }
        }
      }
    }
  }

  .randomizer-panel {
    .randomizer-container {
      .randomizer-list {

        &.randomizer-bargain {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          > * {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 33%;
          }
          .randomizer-item {
            border-bottom: none;
            &:not(:last-child) {
              border-bottom: none;
              border-right: 1px dotted var(--blades-white);
            }
            .randomizer-input-title {
              width: calc(100% - 25px);
              font-size: toRem(11px);
              height: 11px;
            }
            .randomizer-input-subtitle {
              width: 100%;
              font-size: toRem(10px);
              height: 10px;
              text-align: center;
            }

          }

        }

        &.randomizer-obstacle {
          .randomizer-item {
            .randomizer-input-container-questions {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: stretch;
              > * {
                flex-basis: 50%;
                flex-grow: 0;
                flex-shrink: 1;
              }
            }

            .randomizer-input-container-mods {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              justify-content: stretch;
              > * {
                flex-basis: 50%;
                flex-grow: 0;
                flex-shrink: 1;
              }

              .randomizer-mods-harder-list {
                color: var(--blades-red);
              }
              .randomizer-mods-easier-list {
                color: var(--blades-green);
              }

            }
          }
        }

        &.randomizer-score {
          .randomizer-item {
            .randomizer-input-narrative {
              font-style: italic;
            }
          }
        }

        .randomizer-item {

          .randomizer-input-title {
            display: inline-block;
            font-family: var(--font-emphasis);
            color: var(--blades-white-bright);
            width: calc(60% - 25px);
          }

          .randomizer-input-subtitle {
            display: inline-block;
            width: calc(40% - 4px);
            text-align: right;
            font-family: "Fjalla One", sans-serif;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .clock-key {
    background: rgba(0, 255, 255, 0.25);
    outline: 2px dotted rgb(0, 255, 255);
  }

  .key-image-container {
    background: rgba(255, 255, 0, 0.25);
    outline: 2px dotted rgb(255, 255, 0);
  }

  .clock-key-container {
    background: rgba(255, 0, 255, 0.25);
    outline: 2px dotted rgb(255, 0, 255);
  }
}