& {
  // position: relative;
  overflow: visible;
  z-index: 90 !important;

  .window-header {
    position: relative;
    z-index: 0;
  }

  .window-content {
    z-index: 1;

    $heights: (75px, 40px, 57px, 28px) !default;

    --sheet-header-height: 21px;
    --sheet-top-height: #{calculate-sum($heights)};
    --sheet-mid-height: 60px;
    --content-padding: 5px;

    background: var(--blades-black);
    padding: 0;
    overflow: visible;
    box-shadow:
      5px 5px 25px var(--blades-black-dark),
      5px 5px 25px var(--blades-black-dark) !important;
    // max-height: calc(100% - var(--sheet-header-height));

    form {
      // @import "../core/globals";

      justify-content: flex-start;
      max-height: 800px;

      .sheet-img {
        position: absolute;
        height: var(--sheet-top-height);
        // left: -10px;
        // z-index: zLevel(-1);
        border: none;
        mask-image: linear-gradient(to right, black 75%, transparent);
        -webkit-mask-image: linear-gradient(to right, black 75%, transparent);
        z-index: 0;
      }

      .sheet-img-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        pointer-events: none;
        z-index: -2;

        > img {
          position: absolute;
          width: 100%;
          top: -30%;
          filter: saturate(0%) blur(3px);
          opacity: 0.5;
          transform: scaleX(-1);
          mask-image: linear-gradient(to bottom, black, transparent);
        }
      }

      .gm-alert-header {
        position: absolute;
        pointer-events: auto;
        z-index: 10;
        top: -60px;
        display: block;
        height: toRem(20px);
        line-height: toRem(20px);
        width: 100%;
        background-color: rgb(255, 255, 0);
        font-weight: bold;
        font-family: var(--font-emphasis), serif;
        text-align: center;
        font-size: toRem(14px);
        color: var(--blades-black);
      }

      .comp-xp-playbook .comp-body {
        transform: none !important;
      }

      .sheet-root {
        position: relative;
        z-index: 0;
        height: 100%;
        width: 100%;
        // top: -10px;
        left: 0px;
        overflow-x: visible;
        overflow-y: scroll;
        pointer-events: none;

        > section:not(.sheet-top) {
          border-top: 2px solid var(--blades-white);
          border-bottom: none;
        }

        section {
          z-index: zLevel();
          max-height: 100%;
          pointer-events: auto;

          &.sheet-top {

            display: grid;
            grid-auto-columns: 1fr;
            grid-template-rows: join($heights, (), $separator: space); // 83px 32px 57px 28px;
            place-items: center stretch;
            pointer-events: none;
            overflow: hidden;
            height: var(--sheet-top-height);

            input { pointer-events: auto }

            .comp-control.comp-button.comp-delete { display: none }

            img[data-edit] { height: 75px }

            .sheet-title {
              --sheet-title-font-size: #{toRem(32px)};
              --sheet-title-height-mult: 1.5;

              grid-area: title;
              // overflow: visible;
              font-family: var(--font-emphasis);
              color: var(--blades-white-bright);
              font-size: var(--sheet-title-font-size);
              font-variant: small-caps;
              height: 100%;
              // height: calc(var(--sheet-title-height-mult) * var(--sheet-title-font-size));
              // margin-top: calc(-1 * var(--content-padding));
              // position: relative;
              // top: calc(-1 * (var(--sheet-title-font-size) / 6));
            }

            .sheet-subtitle {
              --sheet-subtitle-font-size: #{toRem(20px)};
              // --sheet-subtitle-height-mult: 1.8;

              grid-area: subtitle;
              // overflow: visible;
              font-family: var(--font-decorative);
              font-size: var(--sheet-subtitle-font-size);
              // height: calc(var(--sheet-subtitle-height-mult) * var(--sheet-subtitle-font-size));
              height: 100%;
              // line-height: var(--sheet-subtitle-font-size);
              padding-bottom: 5px;
              // margin-top: calc(-0.75 * var(--sheet-subtitle-font-size));
            }
          }

          &.sheet-mid-bar {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: nowrap;
            position: relative;
            height: var(--sheet-mid-height);
            // padding-right: toRem(20px);
          }

          &.tab-content {
            height: auto;

            .cohorts {
              align-items: flex-start;
              justify-content: stretch;
              gap: 0 5px;

              &, .half-panel {
                // @import "../components/cohort-block";
              }
            }
          }

          &.nav-group {
            height: calc(100% - var(--sheet-top-height) - var(--sheet-mid-height));
            justify-content: flex-start;

            > * { width: 100%; pointer-events: auto; }

            .tab[data-tab] {

              &.active {
                display: flex;
                justify-content: stretch;
                height: 100%;
                // overflow: visible;
                overflow-y: scroll;
                min-height: var(--min-tinymce-height);
              }

            }
          }

          &.sheet-footer-small {
            display: block;
            height: 20px;
            border: none;
          }
        }
      }
    }

    .tab-label {
      background: var(--blades-grey);
      position: relative;
      height: toRem(24px);
      min-height: toRem(24px);
      width: 100%;
      margin-left: calc(-0.5 * var(--content-padding, 0));
      margin-bottom: toRem(5px);

      display: flex;
      justify-content: flex-start;
      align-items: center;

      .tab-title {
        font-family: var(--font-emphasis);
        font-size: toRem(14px);
        color: var(--blades-white-bright);
        text-transform: uppercase;
        margin-left: toRem(5px);
        line-height: toRem(14px);
      }
    }

    .clock-key-container {
      position: relative;
      pointer-events: none;

      // @import "../components/clocks";

      // .clock {
      //   top: 50%;
      //   left: 50%;

      //   * { position: absolute }

      //   .clock-interior {
      //     circle { fill: var(--blades-black-fade-strong) }

      //     .clock-interior-img {
      //       pointer-events: auto;
      //     }
      //   }

      //   .clock-frame {
      //     stroke-width: 15px;
      //     stroke: var(--blades-black-dark-fade);
      //     overflow: visible;
      //   }
      // }
    }
  }

  .window-resizable-handle {
    opacity: 0;
    transition: opacity 0.5s;
    margin-right: -10px;
    margin-bottom: -10px;

    &:hover { opacity: 1 }
  }

}