& {
  min-width: 700px !important;


  .window-content {
    max-height: 100%;

    form {

      .button-icon, .toggle-icon {
        position: relative;
        width: auto;
        height: auto;
        line-height: unset;
        margin: 0 5px;

        i {
          margin: 0;
          width: auto;
          height: auto;
          line-height: unset;
          font-size: 20px;
          text-shadow: var(--text-shadow-dark);
          opacity: 1;

          &.fa-duotone {
            transition: 0.25s;
            transform-origin: 50% 50%;
            pointer-events: auto;
            &::before {
              color: var(--icon-primary-color);
              opacity: var(--icon-primary-opacity, 1);
            }
            &::after {
              color: var(--icon-secondary-color);
              opacity: var(--icon-secondary-opacity, 1);
            }
            &:hover {
              scale: 1.1;
              filter: brightness(1.5) saturate(1.5);
            }
          }
        }

        &.clock-control-drop-key {
          i.fa-duotone {
            &::before {
              color: var(--blades-gold);
              opacity: 1;
            }
            &::after {
              color: var(--blades-gold-darkest);
              opacity: 1;
            }
          }
        }
      }

      .sheet-root {
        overflow-y: scroll;
        max-height: 100%;

        .sheet-top {
          .sheet-title {
            width: 50%;
          }

          .scene-selection {
            label {
              font-family: var(--font-emphasis);
            }

            position: absolute;
            top: 12px;
            right: 0;
            left: unset;

            select {
              font-family: var(--font-emphasis);
              color: var(--blades-white-bright);
              background: var(--blades-black-dark);
              border: none;
              width: 200px;
              pointer-events: all;
            }
          }
        }

        .tab-content {
          .tab {
            position: relative;
            transform-style: preserve-3d;

            .comp.tab-label {
              .create-clock-key-button {

              }

              .tab-title {

              }
            }

            .clock-key-control-flipper {
              position: relative;
              transform-style: preserve-3d;
              height: 30px;
              line-height: 30px;
              width: 100%;
              padding: 0px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              justify-content: stretch;
              background: linear-gradient(45deg, black, rgb(40, 40, 40));
              color: white;
              font-family: "Sura";
              font-size: 24px;
              box-shadow: inset 0 0 2px 2px black;

              > div {
                position: absolute;
                visibility: hidden;
                white-space: nowrap;
                box-shadow: inset 0 0 2px 2px black;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                height: 30px;
                line-height: 30px;
                width: 100%;
                padding: 0px 5px;
                border-radius: 5px;

                &.controls-back {
                  color: black;
                  background: white;
                }
              }
            }
          }
        }
      }

    }
  }


}