& {
	min-width: 775px;
	min-height: 800px;

	section.sheet-top {
		grid-template-areas:
			". . title title title title title title playbook playbook playbook"
			". . members members members members members members members members . "
			". . reputation reputation preferred-op preferred-op tier tier coins coins . ";

		.sheet-title {
			--sheet-title-font-size: #{toRem(48px)};
			overflow: visible;
			position: relative;
			width: fit-content;
			z-index: 4
		}

		.comp-playbook { grid-area: playbook }
		.comp-reputation { grid-area: reputation }
		.comp-preferred-op { grid-area: preferred-op }
		.comp-tier { grid-area: tier }
		.comp-coins { grid-area: coins }
		.members {
			grid-area: members;
			position: relative;
			justify-content: flex-start;
			// height: toRem(80px);
		}
	}
}