& {
  height: auto !important;

  .window-content {

    form {
      $heights: 60px;
      --sheet-top-height: #{calculate-sum(($heights))};
      --sheet-mid-height: 0px;

      .sheet-root {

        section {

          &.sheet-top {
            grid-template-areas: ". item-img . title";
            grid-template-columns: 25px 70px 25px 1fr;
            grid-template-rows: $heights;
            height: calculate-sum(($heights));

            img.sheet-img { pointer-events: all }
          }

          // .tab-label
        }
      }

      &.gear {

        .sheet-root {

          section {

            &.sheet-top {
              grid-template-areas: ". item-img . title tier";
              grid-template-columns: 25px 70px 25px 1fr 100px;

              .comp-tier { grid-area: tier }
            }
          }
        }
      }
    }
  }
}