

.window-resizable-handle {
	display: none
}

& {
	width: 500px !important;
	height: auto !important;
	border-radius: 25px;
	overflow: hidden;
	position: absolute;
}

.window-header {
	line-height: 16px;
	height: 24px;
	.window-title {
		font-variant: small-caps;
		text-indent: 10px;
	}
}

.window-content {
	overflow: hidden;
	.actor-sheet {


		height: auto;
		// margin-bottom: 100px;
		display: grid;
		--folding-block-height: auto; // 225px;

		grid-template-areas: ". . name name name name name name"
		". . concept concept concept concept concept concept"
		". . short-desc short-desc short-desc short-desc short-desc short-desc"
		". . traits traits traits traits traits traits"
		"heritage heritage district district faction faction arena arena"
		"tabs tabs tabs tabs tabs tabs tabs tabs";
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 36px 14px 18px 18px 36px var(--folding-block-height);
		grid-column-gap: 2px;
		grid-row-gap: 4px;

		>* {
			// position: relative;
			z-index: 2;
			flex-grow: 0;
		}

		.char-name {
			grid-area: name;
			overflow: visible;
			font-family: var(--font-alt);
			color: var(--blades-white-bright);
			font-size: 32px;
			height: 32px;
			line-height: 28px;
			padding-bottom: 10px;
			box-shadow: none;
			background: none;
			// text-indent: 3px;
			text-align: center;
			text-shadow:
				0 0 4px var(--blades-black-dark),
				0 0 4px var(--blades-black-dark),
				0 0 4px var(--blades-black-dark),
				0 0 4px var(--blades-black-dark);
		}

		.char-alias {
			display: none;
		}

		.char-concept {
			grid-area: concept;
			height: 100%;
			font-variant: small-caps;
			color: var(--blades-white);
			font-size: toRem(24px);
			box-shadow: none;
			top: -5px;
			text-align: center;
		}

		.char-traits {
			grid-area: traits;
			display: flex;
			font-family: var(--font-emphasis);
			top: 0px;
			input {
				text-transform: uppercase;
				text-align: center;
				color: gold;
			}
		}

		.char-heritage, .char-faction, .char-district, .char-arena {
			text-align: center;
			background: linear-gradient(to top, var(--blades-black) 25%, transparent) !important;
			height: calc(100% + 4px);

			label {
				text-align: center;
			}

			&.char-arena {
				grid-area: arena;
				width: calc(100% + 10px);
			}

			&.char-heritage {
				grid-area: heritage;
				width: calc(100% + 10px);
				left: -10px;
			}

			&.char-district {
				grid-area: district;
			}

			&.char-faction {
				grid-area: faction;
			}
		}



		.char-short-description {
			grid-area: short-desc;
			font-style: italic;
			text-align: center;
			color: var(--blades-white-bright);
			top: -5px;
			padding: 0;
		}

		.char-tabs {
			grid-area: tabs;
			// top: -4px;
			// height: 100%;

			.nav-panel {
				nav {
					width: calc(100% + 2 * 10px);
					height: 28px;
					// line-height: 28px;
					justify-content: stretch;
					position: relative;
					left: -10px;
					z-index: 3;
					background-color: var(--blades-white);
					padding: 0 10px;

					.item {
						color: var(--blades-grey-dark);
						flex-grow: 1;
						font-family: var(--font-emphasis);
						text-transform: uppercase;
						font-size: 14px;
						line-height: 30px;
						padding: 0 10px;

						&.active {
							background-color: var(--blades-white-bright);
							color: var(--blades-black-dark);
							font-size: 18px;
						}

						&:hover {
							color: var(--blades-black-dark);
							background-color: var(--blades-white-bright);
						}
					}
				}
			}
		}

		.char-allies,
		.char-enemies {
			display: none
		}
	}
}