& {

  height: auto !important;

  .window-header {
    border-top-left-radius: 25px;
  }

  .window-content {


    form {
      $heights: (40px, 25px, 25px, 20px, 30px);
      --sheet-top-height: #{calculate-sum($heights)};
      --sheet-mid-height: 0px;

      // .comp-tags { display: none }

      .sheet-img { left: 0 }
      // .sheet-img-bg { top: -50px }

      .sheet-root {
        section.sheet-top {

          grid-template-areas:
            ". . title title title title title status"
            ". . . subtitle subtitle subtitle subtitle subtitle"
            ". short-desc short-desc short-desc short-desc short-desc short-desc short-desc"
            ". . traits traits traits traits traits traits"
            "district district district faction faction faction secret-trait secret-trait";

          grid-template-rows: join($heights, (), $separator: space);
          height: calculate-sum($heights);

          .comp-name {
            --sheet-title-font-size: #{toRem(38px)};
          }

          .comp-status {
            grid-area: status;
            margin-top: 10px;
            z-index: 3;
            scale: 1;
            position: static;

            .comp-label.shadowed {
              font-family: var(--font-emphasis);
              font-size: toRem(16px);
              font-variant: small-caps;
              color: var(--blades-grey-bright);
            }

            .comp-body {
              min-height: 1rem;

              .comp-status-toggle {
                // top: 0;
                // right: 23px;
                position: static;
                margin-top: 5px;
                pointer-events: all;

                .status-neutral {
                  scale: 2 1;
                  display: block;
                }
              }
            }
          }

          .comp-traits {
            grid-area: traits;
            display: flex;

            .comp-randomizer-field { margin-right: 5px }

            input {
              font-family: var(--font-emphasis);
              text-transform: uppercase;
              color: var(--blades-gold);
            }

            &.comp-secret-trait {
              grid-area: secret-trait;

              input {
                color: var(--blades-red-bright);
                text-align: center;
                font-style: italic;
                text-indent: 20px;
              }
            }
          }

          .comp-faction,
          .comp-district {
            overflow: hidden;
            text-align: center;
            padding-left: 5px;

            label {
              text-align: center;
            }

            &.comp-district {
              grid-area: district
            }

            &.comp-faction {
              grid-area: faction
            }
          }

          .comp-short-description {
            grid-area: short-desc;
            font-style: italic;
            text-align: center;
            color: var(--blades-white);
            padding: 0;
          }

        }

      }

      section.tab-content {
        position: relative;
        overflow: visible;

        .tab.randomizer {
          height: 100%;
          // padding: 0 10px;
          overflow: visible;

          .button-icon {

            margin: 0;
            height: unset;

            .tooltip {
              left: unset;
              right: 10px;
              bottom: 10px;
              text-shadow: none;
            }

            &.randomize-button {
              position: absolute;
              top: 26px;
              font-size: 1.5rem;
              color: var(--blades-gold);
              right: 0px;
              overflow: visible;
              z-index: 3;
              text-shadow: 0 0 2px var(--blades-black-dark), 0 0 2px var(--blades-black-dark), 0 0 2px var(--blades-black-dark);

              i {
                scale: 0.8;
                rotate: -45deg;
              }

            }
          }

          .randomizer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3px 10px;
            margin: 5px;
            overflow: visible;

            h2.full-width {
              font-size: 1rem;
              padding: 0;
              margin: 5px 0;
              line-height: 1.5rem;
              height: 1.35rem;
              text-indent: 5px;
            }
          }
        }
      }

      .comp-randomizer-field {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;

        &.field-size-half {
          flex-basis: 10%;
          order: -1;
          margin-right: 40px;
        }

        &.field-size-third {
          flex-basis: 30%;
        }

        &.field-size-1 {
          flex-basis: 20%;
        }

        &.field-size-2 {
          flex-basis: 40%;
        }

        &.field-size-3 {
          order: -2;
          flex-basis: 60%;
        }

        &.field-size-4 {
          flex-basis: 80%;
        }

        .toggle-icon {
          color: var(--blades-white-bright);

          * { transition: 0.4s; }

          &.toggled {
            opacity: 0;
            &:hover { opacity: 1 }

            ~ .randomizer-input {
              background: transparent;
            }
          }
        }

        label {
          color: var(--blades-grey-bright);
          margin-right: 5px
        }

        .randomizer-input {
          background: var(--blades-grey);
          font-family: Oswald;
          text-indent: 5px;
          line-height: 2rem;

        }
      }
    }
  }

  .window-resizable-handle {
    display: none
  }
}