section.char-top {
	grid-template-areas:
		". . title title title title title title class class class"
		". . . subtitle subtitle subtitle subtitle subtitle class class class"
		". heritage heritage background background vice vice crew crew coins coins"
		"stash stash stash stash stash stash stash stash stash stash stash";

	.char-name {
		--top-title-font-size: #{toRem(58px)};
	}

	.char-full-name {
		--top-subtitle-font-size: #{toRem(32px)};
	}

	.char-class {
		--labelled-item-img-scaleX: -2;
		--labelled-item-img-scaleY: 2;
		--labelled-item-name-size: #{toRem(42px)};
		grid-area: class;
		position: absolute;

		img {
			height: toRem(200px);
			top: toRem(-50px);
			right: 0;
			left: unset;
			transform: scaleX(-1);
			filter: blur(2px);
		}
	}

	.char-heritage { grid-area: heritage }
	.char-background { grid-area: background }
	.char-vice { grid-area: vice }
	.char-crew { grid-area: crew }

	.char-coins {
		grid-area: coins;
		.dotline {
			--dotline-dot-size: #{toRem(18px)};
			.dot:nth-of-type(4n+1):not(.zero-dot) + .dot {
				margin-left: toRem(5px);
			}
		}
	}

	.char-stash {
		grid-area: stash;
		padding: 5px 0;
		label {
			font-family: var(--font-emphasis);
			font-size: toRem(14px);
			text-transform: uppercase;
		}
		--dotline-dot-spacing: 3px;
		.dotline {
			.dot:nth-of-type(10n + 1):not(.zero-dot) {
				margin-right: 10px;
			}
		}
	}
}

section.stress-trauma {
	display: flex;
	justify-content: stretch;
	align-items: stretch; // flex-start;
	flex-wrap: nowrap;
	border-top: 2px solid var(--blades-white);

	.dotline-label {
		font-size: toRem(20px);
		line-height: 1;
		padding: toRem(5px);
		background: var(--blades-white);
		color: var(--blades-black);
		font-family: var(--font-emphasis);
		text-transform: uppercase;
		position: relative;
		z-index: 4;
		margin-right: toRem(5px);
	}

	.stress-teeth {
		flex-grow: 1;
		justify-content: flex-start;
		align-items: flex-start;
		.dotline {
			--dotline-dot-sizeY: #{toRem(48px)};
			--dotline-dot-sizeX: auto;
			--dotline-dot-spacing: #{toRem(4px)};
		}
	}

	.trauma-teeth {
		justify-content: flex-start;
		align-items: flex-end;

		.dotline {
			flex-grow: 1;
			justify-content: center;
			margin-top: toRem(-10px);
			--dotline-dot-sizeY: #{toRem(32px)};
			--dotline-dot-sizeX: auto;
			--dotline-dot-spacing: #{toRem(4px)};
		}
	}

	.trauma-conditions {
		--active-text-color: var(--blades-red);
		font-family: var(--font-emphasis);
		color: var(--blades-white-bright);
		text-transform: uppercase;


	}
}



section.harm-armor {
	.character-harm {
		table {
			tr {
				background-color: rgba(255, 255, 255, 0.05);

				&:nth-child(2) {
					background-color: rgba(255, 255, 255, 0.1);
				}
			}

			input[type="text"] {
				font-family: var(--font-decorative);
				font-style: italic;
				font-size: 16px;
				text-indent: 5px;
				padding: 5px 0 0;
			}
		}

	}
}

section.abilities {
	.item {
		.item-body {
			* {
				margin-right: unset;
				hyphens: auto;
			}

			.item-name {
				font-weight: bold;
				color: var(--blades-white-bright);
			}

			.item-description {
				margin: 0 10px;
			}
		}

		.item-control {
			max-width: 30px;
			color: rgb(63, 0, 97);
		}
	}

	.abilities {}

	.loadout {
		.load-amount {
			font-size: 26px;
			line-height: 28px;
			position: absolute;
			background-color: var(--blades-white);
			display: inline-block;
			width: 28px;
			text-align: center;
			border-radius: 16px;
			height: 28px;
			top: 2px;
			transform: translateX(-30px);
			color: var(--blades-black);
		}

		.load-slash {
			color: var(--blades-grey-dark);
			font-weight: normal;
			font-size: 26px;
			line-height: 5px;
			margin: 0 3px;
			position: relative;
			top: 3px;
			display: none;
		}

		.load-level {
			margin-left: 2px;
		}

		select {
			margin: 3px -6px auto auto;
		}
	}

	.attributes {
		.attribute {
			>div:last-of-type {
				margin-bottom: 10px;
			}

			.attributes-exp {}

			.attributes-container {
				label {
					background-color: var(--blades-white);
					border: 1px var(--blades-white-bright) outset;
					border-radius: 15px;

					&[for$="0"] {
						background-color: var(--blades-black) !important;
						margin-right: 5px;
					}
				}

				input:checked~label {
					background-color: rgba(128, 128, 128, 0.2);
					border-style: inset;
					border-color: var(--blades-grey);
					filter: none;
				}

				input:checked+label {
					background-color: var(--blades-white);
					border-color: var(--blades-white-bright);
					border-style: outset;
				}

				.attribute-skill-label {
					color: var(--blades-white-bright);
					line-height: 14px;
				}
			}
		}
	}
}