
& {
  pointer-events: none;

.sheet-root {
  overflow: hidden;
  min-height: 250px;

  .sheet-top {
    grid-template-areas:
      "title title ."
      "subtitle subtitle .";
    grid-template-rows: 40px 20px;
    .sheet-title {
      text-align: left;
      font-size: toRem(40px);
      line-height: toRem(40px);
    }
    .sheet-subtitle {
      text-align: left;
      font-size: toRem(16px);
      line-height: toRem(20px);
      position: relative;
      z-index: 2;
      background: transparent;
      border: none;
      text-indent: 15px;
      padding: 0;
    }
  }

  .split-panel {
    justify-content: stretch;
    align-items: stretch;

    .gradient-background {
      position: absolute;
      height: 100%;
      margin-top: calc(-1 * var(--sheet-top-height));
      z-index: 1;
      background: linear-gradient(to right, var(--blades-black), var(--blades-black) 60%, transparent 75%);
    }

    .project-panel-left {
      max-width: 75%;
      min-width: 75%;
      flex-grow: 0;
      flex-shrink: 0;
      position: relative;
      z-index: 2;
    }

    .project-panel-right {
      max-width: 25%;
      min-width: 25%;
      flex-grow: 0;
      flex-shrink: 0;
      overflow: visible;
      position: absolute;
      perspective: 150px;
      transform-style: preserve-3d;
      z-index: 0;
      top: 0px;
      right: 0px;
      height: 100%;

      .clock-key-container {
        position: relative;
        height: 100%;
        width: 100%;

        .clock-glow,
        .key-label {
          visibility: hidden;
        }
      }
    }

  }
}
}