.window-header {
	.window-title {
		font-variant: small-caps;
		margin-top: 1px;
		margin-bottom: -1px;
	}
}

.window-content {
	background: var(--blades-black);
	padding: var(--content-padding);
	overflow: hidden;

	form.editable {
		@import "../core/globals";
		padding: 0 !important;
		justify-content: flex-start;
		max-height: 100%;
	}
}

.window-content form.editable .char-img {
	position: absolute;
	height: 200px;
	top: -10px;
	left: -10px;
	z-index: 1;
	border: none;
	mask-image: linear-gradient(to right, black 75%, transparent);
}

.window-content form.editable .char-img-bg {
	position: absolute;
	width: calc(100% + 2 * var(--content-padding)) !important;
	top: -20%;
	left: 0;
	filter: saturate(0%) blur(3px);
	opacity: 0.5;
	transform: scaleX(-1);
	mask-image: linear-gradient(to bottom, black, transparent);
	pointer-events: none;
}

.window-content section { position: relative; z-index: 2 }

.window-content section.char-top {
	display: grid;
	width: calc(100% + 2 * var(--content-padding));
	left: calc(-1 * var(--content-padding));
	grid-auto-columns: 1fr;
	grid-auto-rows: auto;
	place-items: center stretch;
	pointer-events: none;

	input, a, .item-title, .sub-actor-name { pointer-events: auto }

	> * {
		z-index: 2;
	}

	.top-title {
		--top-title-font-size: #{toRem(32px)};
		--top-title-height-mult: 1.4;

		--top-title-height: calc(var(--top-title-height-mult) * var(--top-title-font-size));

		grid-area: title;
		overflow: visible;
		font-family: var(--font-emphasis);
		color: var(--blades-white-bright);
		font-size: var(--top-title-font-size);
		font-variant: small-caps;
		height: var(--top-title-height);
		margin-top: calc(-1 * var(--content-padding));
		position: relative;
		top: calc(-1 * (var(--top-title-font-size) / 6));
	}

	.top-subtitle {
		--top-subtitle-font-size: #{toRem(24px)};
		--top-subtitle-height-mult: 1.8;

		--top-subtitle-height: calc(var(--top-subtitle-height-mult) * var(--top-subtitle-font-size));

		grid-area: subtitle;
		overflow: visible;
		font-family: var(--font-decorative);
		font-size: var(--top-subtitle-font-size);
		height: var(--top-subtitle-height);
		margin-top: calc(-1 * var(--top-subtitle-font-size));
	}
}

.window-content .nav-group {
	nav {
		background-color: var(--blades-grey-bright);
		border: 2px solid var(--blades-white);
		padding: 0 toRem(10px);
		width: 100%;
		height: toRem(24px);
		overflow: visible;

		.tab-selector {
			color: var(--blades-black);
			padding: 0 toRem(10px);
			font-family: Kirsty;
			line-height: toRem(20px);
			transition: 0.25s;
			transform-origin: center center;
			white-space: nowrap;

			&.active {
				background: linear-gradient(to right,
						transparent,
						var(--blades-white-bright) 25%,
						var(--blades-white-bright) 75%,
						transparent);
				transform: scale(1.2);
				position: relative;
				z-index: 2;
			}

			&:hover:not(.active) {
				color: var(--blades-black-dark);
				transform: scale(1.2);
				background: linear-gradient(to right,
						transparent,
						var(--blades-white) 10%,
						var(--blades-white-bright) 50%,
						var(--blades-white) 90%,
						transparent);
			}
		}
	}
  .tab[data-tab] {
    display: none;
		overflow-y: scroll;

		.tab-label {
			display: block;
			background: var(--blades-grey);
			padding: toRem(3px) toRem(20px);
			position: relative;
			// border: 2px solid var(--blades-black);
			// border-top: none;
			height: toRem(24px);
			width: calc(100% + var(--content-padding));
			left: calc(-1 * var(--content-padding));
			margin-bottom: toRem(5px);

			display: flex;
			justify-content: space-between;
			justify-content: flex-start;
			align-items: center;

			.item-add-popup {
				position: absolute;
				left: toRem(4px);
				transform: translate(0, -50%);
				top: 50%;
				line-height: 1;
				margin-top: toRem(2px);
				padding: 0;
				// background: red;
				font-weight: bold;
				color: var(--blades-white-bright);
				color: var(--blades-black-dark);

				&:hover {
					color: var(--blades-white-bright);
				}
			}

			.tab-title {
				font-family: var(--font-emphasis);
				font-size: toRem(14px);
				color: var(--blades-white-bright);
				text-transform: uppercase;

			}
		}

		.tab-label {
		}

    &.active {
      display: block;
    }
  }
}

.window-content .clock-container {
	position: relative;
	pointer-events: none;

	@import "../components/clocks";

	.clock {
		top: 50%;
		left: 50%;

		* { position: absolute }

		.clock-interior {
			circle { fill: var(--blades-black-fade-strong) }

			.clock-interior-img {
				pointer-events: auto;
			}
		}

		.clock-frame {
			stroke-width: 15px;
			stroke: var(--blades-black);
			overflow: visible;
		}
	}
}

.window-content .turf-list { @import "../components/turf-block" }

.window-content .editor-tab {
	position: relative;
	width: calc(100% + 2 * var(--content-padding));
	left: calc(-1 * var(--content-padding));
}