<div class="comp consequence-display-container full-width consequence-accepted" />

  <div class="consequence-icon-container">
    <div class="consequence-icon-circle base-consequence">
      <img class="consequence-icon-img" src="systems/eunos-blades/assets/icons/consequence-icons/base-{{icon}}.svg" />
    </div>
  </div>

  <div class="consequence-type-container">
    <label class="consequence-type base-consequence">{{typeDisplay}}</label>
  </div>

  <div class="consequence-name-container">
    <label class="consequence-name base-consequence">{{name}}</label>
  </div>

</div>
