<form class="{{cssClass}} actor-sheet" autocomplete="off">
	<section class="item-top flex-horizontal">
		<input class="comp-title sheet-title shadowed" type="text" name="name" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}" />
	</section>

	<section class="item-main flex-vertical">


	</section>
</form>
