

$bg-yiq: 0.5;
$hover-yiq: $bg-yiq * 1.33;

@mixin tag_colors() {
  [data-group="System Tags"] {
    --tag-bg: #{getYIQScaledColor(rgb(169, 169, 169), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(169, 169, 169), $hover-yiq)};
  }
  [data-group="Gear Tags"] {
    --tag-bg: #{getYIQScaledColor(rgb(0, 100, 0), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(0, 100, 0), $hover-yiq)};
  }
  [data-group="Actor Tags"] {
    --tag-bg: #{getYIQScaledColor(rgb(165, 42, 42), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(165, 42, 42), $hover-yiq)};
  }
  [data-group="Playbooks"] {
    --tag-bg: #{getYIQScaledColor(rgb(0, 0, 255), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(0, 0, 255), $hover-yiq)};
  }
  .tags-district, [data-group="Districts"] {
    --tag-bg: #{getYIQScaledColor(rgb(210, 180, 140), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(210, 180, 140), $hover-yiq)};
  }
  [data-group="City Districts"] {
    --tag-bg: #{getYIQScaledColor(rgb(226, 200, 166), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(226, 200, 166), $hover-yiq)};
  }
  [data-group="Other Districts"] {
    --tag-bg: #{getYIQScaledColor(rgb(182, 150, 108), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(182, 150, 108), $hover-yiq)};
  }
  [data-group="Vices"] {
    --tag-bg: #{getYIQScaledColor(rgb(220, 20, 60), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(220, 20, 60), $hover-yiq)};
  }
  [data-group="Factions"] {
    --tag-bg: #{getYIQScaledColor(rgb(128, 0, 128), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(128, 0, 128), $hover-yiq)};
  }
  [data-group="Inventions"] {
    --tag-bg: #{getYIQScaledColor(rgb(255, 0, 255), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(255, 0, 255), $hover-yiq)};
  }
  [data-group="Gang Types"] {
    --tag-bg: #{getYIQScaledColor(rgb(255, 0, 0), $bg-yiq)};
    --tag-hover: #{getYIQScaledColor(rgb(255, 0, 0), $hover-yiq)};
  }

}

.comp-tags {
  background-color: rgba(0,0,0,0.5);

  caret-color: transparent;
  pointer-events: auto;
  // margin-top: 10px;

  --placeholder-color: transparent;
  --placeholder-color-focus: transparent;
  --tags-border-color: #343434;
  --tag-pad: 0; // 0.1rem 0.3rem;
  align-items: center;
  height: 18px;
  gap: 0.1rem;

  min-width: 100%;
  flex-wrap: nowrap;
  border-style: inset;
  border: none;

  @include tag-colors();

  .tagify__tag {
    font-family: "Fjalla One", sans-serif;
    padding: 0;
    margin: 1px 0;
    height: calc(100% - 2 * 1px);
    border-radius: 5px;

    > div {
      height: 100%;

      > span {
        padding-left: 4px;
        line-height: 20px;
        font-size: 12px;
        white-space: nowrap;
        // font-variant: small-caps;
        // font-family: "Oswald";
      }

      &::before {
        // inset: 1.5px;
        // line-height: 14px;
        height: 16px;
        top: 0;
        left: 0;
      }
    }

  }

  .tagify__input {
    flex-grow: 0.2;
    padding: 0.1rem;
    display: flex;
    justify-items: center;
    align-content: center;
  }

  &.tags-gm {
    position: absolute;
    z-index: 20;
    top: -40px;
  }

  &.single-tag {
    cursor: default;
    .tagify__tag {
      margin: 1px auto !important;
      .tagify__tag__removeBtn {
        margin-right: -14px;
        opacity: 0;
      }
      + .tagify__input { display: none }
    }
    &:hover .tagify__tag .tagify__tag__removeBtn { opacity: 1 }
    &:hover .tagify__tag .tagify__tag__removeBtn:not(:hover) { opacity: 0 }
    &:not(.tagify--noTags) {
      &.tags-district {
        background: getYIQScaledColor(tan, $bg-yiq) !important;
      }
      .tagify__input { pointer-events: none; display: none }
    }
  }
}

.tagify__dropdown {
  --tagify-dd-color-primary: #363636;
  --tagify-dd-bg-color: #242424;
  min-width: 500px;

  .tagify__dropdown__wrapper {
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    h3 {
      padding: 0 0.3em;
      margin: 0;
      color: white;
      font-family: "Fjalla One", sans-serif;
      text-transform: uppercase;
      font-size: 10px;
    }

    .tagify__dropdown__itemsGroup {
      padding: 0.15em;
      &:hover {
        background: #373737;
      }

      @include tag-colors();

      .tagify__dropdown__item {
        display: inline-block;
        font-family: "Fjalla One", sans-serif;
        margin: 0px 0 3px 3px;
        color: var(--blades-black);
        padding: 0.1rem 0.25rem;
        border-radius: 5px;
        pointer-events: auto;
        line-height: 18px;
        max-height: 18px;
        height: 18px;
        min-height: 18px;

        background-color: var(--tag-bg);
        &:hover {
          background-color: var(--tag-hover);
        }
      }
    }
  }
}
