@import './core/normalize.scss';

// Utility imports
@import './core/functions';
@import './core/mixins';
@import './core/globals';
// @import './core/colors';

// Third-Party Libraries
@import './tinymce/tinymce'; // > TINYMCE CUSTOM CONFIG

:root {
  @import './core/vars';
  @import './core/scrollbars';

  &,
  * {
    // @import './core/vars';
    //
  }

  body.vtt.game.system-eunos-blades {

    .notification.error.permanent {
      display: none !important;
    }

    #pause {
      background: none;

      img.fa-spin {
        top: unset;
        bottom: -200px;
      }

      figcaption {
        text-shadow: 1px 1px 3px #000, 1px 1px 3px #000, 1px 1px 3px #000, 0px 0px 5px #000;
        font-family: "Historical FellType", serif;
        line-height: 1.5rem;
        padding: 0 35%;
        text-wrap: balance;
        transform-origin: 50% 50%;
        scale: 1.35;
      }
    }


    .app.window-app {
      // General App Window Styles
      @import "./core/app";

      // Third-Party Library Inputs
      @import './lib/tagify'; // > TAGIFY
      @import './tagify-custom'; // > TAGIFY CUSTOM CONFIG

      &.sheet {

        @import './core/reset';
        @import './sheets/sheets';

        &.actor {
          &.pc { @import './sheets/pc-sheet' }
          &.npc { @import './sheets/npc-sheet' }
          &.crew { @import './sheets/crew-sheet' }
          &.faction { @import './sheets/faction-sheet' }
        }

        &.item {
          @import './sheets/item-sheets';

          &.clock-keeper { @import './sheets/clock-keeper-sheet' }
          &.gm-tracker { @import './sheets/gm-tracker-sheet' }
          &.score-sheet { @import './sheets/score-sheet' }

          .window-content form {
            &.crew_playbook { @import './sheets/crew-playbook-sheet' }
            &.gear { @import './sheets/gear-sheet'}
            &.cohort_gang,
            &.cohort_expert { @import './sheets/cohort-sheet' }
            &.project { @import './sheets/project-sheet' }
          }

        }

        &.dialog { @import './dialog/dialogs' }
        &.active-effect-sheet { @import './sheets/active-effect-config' }
        &.roll-collab { @import './sheets/roll-collab-sheet' }
      }
    }

    #blades-overlay {
      // @import './core/reset';
      // @import './core/globals';
      @import './overlay/blades-overlay';
    }

    #clocks-overlay {
      margin-top: toRem(4px);
      // @import './core/reset';
      // @import './core/globals';
      @import './components/clocks-overlay';
    }

    #interface {
      @import './core/interface';

      #ui-left #logo { display: none; }
      // #ui-left #controls { }
      // #ui-left #players { }

      #ui-top #navigation { @import './core/scene-navigation' }
      // #ui-top #loading { }

      // #ui-bottom #hotbar { }
      #ui-bottom #fps { display: none; }

      #ui-right #sidebar { @import './core/sidebar' }
    }
  }
}


.tox .tox-dialog-wrap .tox-dialog .tox-textarea-wrap {
  height: 100%;

  .tox-textarea {
    height: 100%;
    font-family: var(--font-mono);
    font-size: toRem(12px);
    line-height: toRem(14px);
  }
}

// @import "./emu-styles";