$coin_size: 15px;
$coin_margin: 2px;

.coins {
  @include custom_radio_square($coin_size);
  // flex-wrap: wrap;

  input ~ label {
    margin-right: $coin_margin;
    margin-bottom: $coin_margin;

    &[for$="0"] {
      border-width: 2px;
    }

    @include changeable(0.2s, 0.8, 0.9);
  }

  &.coins-hands {
    // width: 36px;
  }

  &.coins-stashed {
    // width: 190px;
  }

}
