<div class="attributes">

  {{#each data.attributes as |attribute_data attribute_name|}}
	<div class="labelled-item labelled-horizontal labelled-attribute">
		<label>{{case "title" attribute_name}}</label>
		<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=(lookup data.experience attribute_name)
					target=(concat "data.experience." attribute_name ".value")
					iconEmpty="teeth/long-strong-empty.svg"
					iconFull="teeth/long-strong-full.svg"
					blockClass="teeth long-teeth"
				}}
		</div>
	</div>
	{{#each attribute_data as |action_data action_name|}}
	<div class="labelled-item labelled-horizontal labelled-action">
		<label>{{case "upper" action_name}}</label>
		<div class="labelled-item-container">
				{{> "systems/eunos-blades/templates/parts/dotline.hbs"
					data=action_data
					target=(concat "data.attributes." ../attribute_name "." action_name ".value")
					iconEmpty="dot-empty.svg"
					iconEmptyHover="dot-empty-hover.svg"
					iconFull="dot-full.svg"
					iconFullHover="dot-full-hover.svg"
					zeroDot="dot-zero.svg"
					blockClass="action"
				}}
		</div>
	</div>
	{{/each}}
	{{/each}}

</div>