<div class="comp comp-tier">
  <div class="full-width flex-horizontal">
    <div class="tier-bonus-container flex-vertical {{~#unless isGM}} hidden-empty-dots{{/unless}}">
      <label class="filled-label {{~#if (test (count system.tier.name) ">" 5)}} narrow-label{{/if}}">{{system.tier.name}}</label>
      {{#if system.tier}}
      {{> "systems/eunos-blades/templates/components/dotline.hbs"
            data=system.tier
            target="system.tier.value"
            iconEmpty="dot-empty.svg"
            iconEmptyHover="dot-empty-hover.svg"
            iconFull="dot-full.svg"
            iconFullHover="dot-full-hover.svg" }}
      {{/if}}
    </div>

    <div class="tier-total-container">
      {{#if tierTotal}}<span class="tier-roman-numeral">{{tierTotal}}</span>{{/if}}
    </div>

  </div>
</div>